In [1]:
from __future__ import (absolute_import, division,
                        print_function, unicode_literals)
import warnings
warnings.simplefilter('ignore')
import pandas as pd
import numpy as pr
df = pd.read_csv("J:/HiEnd/mlcourse_open-master/mlcourse_open-master/data/telecom_churn.csv")

In [2]:
df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 20 columns):
State                     3333 non-null object
Account length            3333 non-null int64
Area code                 3333 non-null int64
International plan        3333 non-null object
Voice mail plan           3333 non-null object
Number vmail messages     3333 non-null int64
Total day minutes         3333 non-null float64
Total day calls           3333 non-null int64
Total day charge          3333 non-null float64
Total eve minutes         3333 non-null float64
Total eve calls           3333 non-null int64
Total eve charge          3333 non-null float64
Total night minutes       3333 non-null float64
Total night calls         3333 non-null int64
Total night charge        3333 non-null float64
Total intl minutes        3333 non-null float64
Total intl calls          3333 non-null int64
Total intl charge         3333 non-null float64
Customer service calls    3333 non-null int64
Churn                     3333 non-null bool
dtypes: bool(1), float64(8), int64(8), object(3)
memory usage: 498.1+ KB

In [ ]:
# полезная фича дебажить линейные скрипты print(r.content)

In [1]:
import os
import zipfile

import requests
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("J:/11/785737230_T_ONTIME.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450017 entries, 0 to 450016
Data columns (total 33 columns):
FL_DATE                  450017 non-null object
UNIQUE_CARRIER           450017 non-null object
AIRLINE_ID               450017 non-null int64
TAIL_NUM                 449378 non-null object
FL_NUM                   450017 non-null int64
ORIGIN_AIRPORT_ID        450017 non-null int64
ORIGIN_AIRPORT_SEQ_ID    450017 non-null int64
ORIGIN_CITY_MARKET_ID    450017 non-null int64
ORIGIN                   450017 non-null object
ORIGIN_CITY_NAME         450017 non-null object
DEST_AIRPORT_ID          450017 non-null int64
DEST_AIRPORT_SEQ_ID      450017 non-null int64
DEST_CITY_MARKET_ID      450017 non-null int64
DEST                     450017 non-null object
DEST_CITY_NAME           450017 non-null object
CRS_DEP_TIME             450017 non-null int64
DEP_TIME                 441476 non-null float64
DEP_DELAY                441476 non-null float64
TAXI_OUT                 441244 non-null float64
WHEELS_OFF               441244 non-null float64
WHEELS_ON                440746 non-null float64
TAXI_IN                  440746 non-null float64
CRS_ARR_TIME             450017 non-null int64
ARR_TIME                 440746 non-null float64
ARR_DELAY                439645 non-null float64
CANCELLED                450017 non-null float64
CANCELLATION_CODE        8886 non-null object
CARRIER_DELAY            97699 non-null float64
WEATHER_DELAY            97699 non-null float64
NAS_DELAY                97699 non-null float64
SECURITY_DELAY           97699 non-null float64
LATE_AIRCRAFT_DELAY      97699 non-null float64
Unnamed: 32              0 non-null float64
dtypes: float64(15), int64(10), object(8)
memory usage: 113.3+ MB

In [2]:
zf = zipfile.ZipFile("data/flights.csv.zip")
fp = zf.extract(zf.filelist[0].filename, path='data/')
df = pd.read_csv(fp, parse_dates=["FL_DATE"]).rename(columns=str.lower)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450017 entries, 0 to 450016
Data columns (total 33 columns):
fl_date                  450017 non-null datetime64[ns]
unique_carrier           450017 non-null object
airline_id               450017 non-null int64
tail_num                 449378 non-null object
fl_num                   450017 non-null int64
origin_airport_id        450017 non-null int64
origin_airport_seq_id    450017 non-null int64
origin_city_market_id    450017 non-null int64
origin                   450017 non-null object
origin_city_name         450017 non-null object
dest_airport_id          450017 non-null int64
dest_airport_seq_id      450017 non-null int64
dest_city_market_id      450017 non-null int64
dest                     450017 non-null object
dest_city_name           450017 non-null object
crs_dep_time             450017 non-null int64
dep_time                 441476 non-null float64
dep_delay                441476 non-null float64
taxi_out                 441244 non-null float64
wheels_off               441244 non-null float64
wheels_on                440746 non-null float64
taxi_in                  440746 non-null float64
crs_arr_time             450017 non-null int64
arr_time                 440746 non-null float64
arr_delay                439645 non-null float64
cancelled                450017 non-null float64
cancellation_code        8886 non-null object
carrier_delay            97699 non-null float64
weather_delay            97699 non-null float64
nas_delay                97699 non-null float64
security_delay           97699 non-null float64
late_aircraft_delay      97699 non-null float64
unnamed: 32              0 non-null float64
dtypes: datetime64[ns](1), float64(15), int64(10), object(7)
memory usage: 113.3+ MB

In [6]:
df.ix[10:15, ['fl_date', 'tail_num']]

J:\HiEnd\StandAloneComplex\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix
  """Entry point for launching an IPython kernel.

      fl_date tail_num
10 2017-01-01   N756AA
11 2017-01-01   N807AA
12 2017-01-01   N755AA
13 2017-01-01   N951AA
14 2017-01-01   N523AA
15 2017-01-01   N155AA

In [7]:
first = df.groupby('airline_id')[['fl_date', 'unique_carrier']].first()
first.head()

              fl_date unique_carrier
airline_id
19393      2017-01-01             WN
19690      2017-01-01             HA
19790      2017-01-01             DL
19805      2017-01-01             AA
19930      2017-01-01             AS

In [8]:
first.ix[10:15, ['fl_date', 'tail_num']]

J:\HiEnd\StandAloneComplex\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix
  """Entry point for launching an IPython kernel.

Empty DataFrame
Columns: [fl_date, tail_num]
Index: []

In [9]:
first = df.groupby('unique_carrier').first()
first.ix[10:15, ['fl_date', 'tail_num']]

J:\HiEnd\StandAloneComplex\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix

                  fl_date tail_num
unique_carrier
VX             2017-01-01   N846VA
WN             2017-01-01   N955WN

In [10]:
f = pd.DataFrame({'a':[1,2,3,4,5], 'b':[10,20,30,40,50]})
f

   a   b
0  1  10
1  2  20
2  3  30
3  4  40
4  5  50

In [11]:
with pd.option_context('mode.chained_assignment', None):
    f[f['a'] <= 3]['b'] = f[f['a'] <= 3 ]['b'] / 10
f

   a   b
0  1  10
1  2  20
2  3  30
3  4  40
4  5  50

In [12]:
f.loc[f['a'] <= 3, 'b'] = f.loc[f['a'] <= 3, 'b'] / 10
f

   a     b
0  1   1.0
1  2   2.0
2  3   3.0
3  4  40.0
4  5  50.0

In [3]:
df.head()

,fl_date,unique_carrier,airline_id,tail_num,fl_num,origin_airport_id,origin_airport_seq_id,origin_city_market_id,origin,origin_city_name,...,arr_time,arr_delay,cancelled,cancellation_code,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,unnamed: 32
0,2017-01-01,AA,19805,N153AA,1766,13930,1393004,30977,ORD,"Chicago, IL",...,932.0,-16.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017-01-01,AA,19805,N192AA,1767,12889,1288903,32211,LAS,"Las Vegas, NV",...,1717.0,-1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017-01-01,AA,19805,N829AA,1768,11278,1127803,30852,DCA,"Washington, DC",...,1253.0,-20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017-01-01,AA,19805,N770AA,1769,15304,1530402,33195,TPA,"Tampa, FL",...,818.0,-15.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017-01-01,AA,19805,N754AA,1770,14100,1410002,34100,PHL,"Philadelphia, PA",...,1305.0,-7.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
anime = df
anime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450017 entries, 0 to 450016
Data columns (total 33 columns):
fl_date                  450017 non-null datetime64[ns]
unique_carrier           450017 non-null object
airline_id               450017 non-null int64
tail_num                 449378 non-null object
fl_num                   450017 non-null int64
origin_airport_id        450017 non-null int64
origin_airport_seq_id    450017 non-null int64
origin_city_market_id    450017 non-null int64
origin                   450017 non-null object
origin_city_name         450017 non-null object
dest_airport_id          450017 non-null int64
dest_airport_seq_id      450017 non-null int64
dest_city_market_id      450017 non-null int64
dest                     450017 non-null object
dest_city_name           450017 non-null object
crs_dep_time             450017 non-null int64
dep_time                 441476 non-null float64
dep_delay                441476 non-null float64
taxi_out                 441244 non-null float64
wheels_off               441244 non-null float64
wheels_on                440746 non-null float64
taxi_in                  440746 non-null float64
crs_arr_time             450017 non-null int64
arr_time                 440746 non-null float64
arr_delay                439645 non-null float64
cancelled                450017 non-null float64
cancellation_code        8886 non-null object
carrier_delay            97699 non-null float64
weather_delay            97699 non-null float64
nas_delay                97699 non-null float64
security_delay           97699 non-null float64
late_aircraft_delay      97699 non-null float64
unnamed: 32              0 non-null float64
dtypes: datetime64[ns](1), float64(15), int64(10), object(7)
memory usage: 113.3+ MB

In [11]:
anime.loc[anime['arr_time']] > 1000

,fl_date,unique_carrier,airline_id,tail_num,fl_num,origin_airport_id,origin_airport_seq_id,origin_city_market_id,origin,origin_city_name,...,arr_time,arr_delay,cancelled,cancellation_code,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,unnamed: 32
932.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1717.0,True,True,True,True,False,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1253.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
818.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1305.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
824.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1116.0,True,True,True,True,False,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
5.0,True,True,True,True,True,True,True,True,True,True,...,False,False,False,True,False,False,False,False,False,False
1830.0,True,True,True,True,False,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1504.0,True,True,True,True,False,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
2031.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1741.0,True,True,True,True,False,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
846.0,True,True,True,True,True,True,True,True,True,True,...,False,False,False,True,False,False,False,False,False,False
1030.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
2338.0,True,True,True,True,False,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1926.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
2137.0,True,True,True,True,True,True,True,True,True,True,...,False,False,False,True,False,False,False,False,False,False
1907.0,True,True,True,True,False,True,True,True,True,True,...,False,False,False,True,False,False,False,False,False,False
2029.0,True,True,True,True,True,True,True,True,True,True,...,False,False,False,True,False,False,False,False,False,False
2126.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
2327.0,True,True,True,True,False,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1446.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
2131.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1618.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1645.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1820.0,True,True,True,True,False,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1524.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1052.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
2338.0,True,True,True,True,False,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
2139.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1650.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
2353.0,True,True,True,True,False,True,True,True,True,True,...,False,False,False,True,False,False,False,False,False,False
1906.0,True,True,True,True,False,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1658.0,True,True,True,True,False,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1226.0,True,True,True,True,False,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1806.0,True,True,True,True,False,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1543.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1227.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1915.0,True,True,True,True,False,True,True,True,True,True,...,False,False,False,True,False,False,False,False,False,False
2139.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1549.0,True,True,True,True,False,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1656.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1857.0,True,True,True,True,False,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1423.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1015.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1158.0,True,True,True,True,True,True,True,True,True,True,...,False,False,False,True,False,False,False,False,False,False
1256.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1933.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1158.0,True,True,True,True,True,True,True,True,True,True,...,False,False,False,True,False,False,False,False,False,False
841.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1748.0,True,True,True,True,False,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1604.0,True,True,True,True,False,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1247.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
2012.0,True,True,True,True,True,True,True,True,True,True,...,False,False,False,True,False,False,False,False,False,False
841.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1026.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
748.0,True,True,True,True,False,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1349.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1034.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
858.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False

In [14]:
anime.head()

,fl_date,unique_carrier,airline_id,tail_num,fl_num,origin_airport_id,origin_airport_seq_id,origin_city_market_id,origin,origin_city_name,...,arr_time,arr_delay,cancelled,cancellation_code,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,unnamed: 32
0,2017-01-01,AA,19805,N153AA,1766,13930,1393004,30977,ORD,"Chicago, IL",...,932.0,-1.6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017-01-01,AA,19805,N192AA,1767,12889,1288903,32211,LAS,"Las Vegas, NV",...,1717.0,-0.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017-01-01,AA,19805,N829AA,1768,11278,1127803,30852,DCA,"Washington, DC",...,1253.0,-2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017-01-01,AA,19805,N770AA,1769,15304,1530402,33195,TPA,"Tampa, FL",...,818.0,-1.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017-01-01,AA,19805,N754AA,1770,14100,1410002,34100,PHL,"Philadelphia, PA",...,1305.0,-0.7,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df[P(df['Name'])]

df[df['Churn'] == 1]

anime.loc[anime['arr_time']] > 1000

In [21]:
anime[anime['arr_time'] > 1000]

,fl_date,unique_carrier,airline_id,tail_num,fl_num,origin_airport_id,origin_airport_seq_id,origin_city_market_id,origin,origin_city_name,...,arr_time,arr_delay,cancelled,cancellation_code,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,unnamed: 32
1,2017-01-01,AA,19805,N192AA,1767,12889,1288903,32211,LAS,"Las Vegas, NV",...,1717.0,-0.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017-01-01,AA,19805,N829AA,1768,11278,1127803,30852,DCA,"Washington, DC",...,1253.0,-2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017-01-01,AA,19805,N754AA,1770,14100,1410002,34100,PHL,"Philadelphia, PA",...,1305.0,-0.7,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2017-01-01,AA,19805,N585AA,1772,11057,1105703,31057,CLT,"Charlotte, NC",...,1116.0,-0.6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2017-01-01,AA,19805,N552AA,1775,11057,1105703,31057,CLT,"Charlotte, NC",...,1830.0,1.5,0.0,NaN,0.0,0.0,15.0,0.0,0.0,NaN
9,2017-01-01,AA,19805,N581AA,1775,11697,1169704,32467,FLL,"Fort Lauderdale, FL",...,1504.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2017-01-01,AA,19805,N756AA,1776,11278,1127803,30852,DCA,"Washington, DC",...,2031.0,-0.3,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2017-01-01,AA,19805,N807AA,1776,13303,1330303,32467,MIA,"Miami, FL",...,1741.0,5.9,0.0,NaN,0.0,0.0,0.0,0.0,59.0,NaN
13,2017-01-01,AA,19805,N951AA,1782,11057,1105703,31057,CLT,"Charlotte, NC",...,1030.0,-0.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2017-01-01,AA,19805,N523AA,1783,11057,1105703,31057,CLT,"Charlotte, NC",...,2338.0,6.0,0.0,NaN,0.0,0.0,0.0,0.0,60.0,NaN
15,2017-01-01,AA,19805,N155AA,1783,12892,1289204,32575,LAX,"Los Angeles, CA",...,1926.0,0.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2017-01-01,AA,19805,N753AA,1785,11057,1105703,31057,CLT,"Charlotte, NC",...,2137.0,1.5,0.0,NaN,8.0,0.0,7.0,0.0,0.0,NaN
17,2017-01-01,AA,19805,N753AA,1785,15016,1501603,31123,STL,"St. Louis, MO",...,1907.0,0.2,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2017-01-01,AA,19805,N202AA,1786,14100,1410002,34100,PHL,"Philadelphia, PA",...,2029.0,-0.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2017-01-01,AA,19805,N587AA,1787,11057,1105703,31057,CLT,"Charlotte, NC",...,2126.0,2.6,0.0,NaN,0.0,0.0,0.0,0.0,26.0,NaN
20,2017-01-01,AA,19805,N153AA,1788,11057,1105703,31057,CLT,"Charlotte, NC",...,2327.0,-1.9,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2017-01-01,AA,19805,N153AA,1788,12889,1288903,32211,LAS,"Las Vegas, NV",...,1446.0,-0.8,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2017-01-01,AA,19805,N153AA,1788,14107,1410702,30466,PHX,"Phoenix, AZ",...,2131.0,-0.7,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2017-01-01,AA,19805,N124AA,1789,11057,1105703,31057,CLT,"Charlotte, NC",...,1618.0,-1.7,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2017-01-01,AA,19805,N961AA,1790,11697,1169704,32467,FLL,"Fort Lauderdale, FL",...,1645.0,0.8,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2017-01-01,AA,19805,N583AA,1791,11057,1105703,31057,CLT,"Charlotte, NC",...,1820.0,-1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2017-01-01,AA,19805,N583AA,1791,11298,1129804,30194,DFW,"Dallas/Fort Worth, TX",...,1524.0,-1.6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2017-01-01,AA,19805,N583AA,1791,12889,1288903,32211,LAS,"Las Vegas, NV",...,1052.0,-0.6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2017-01-01,AA,19805,N757AA,1793,11057,1105703,31057,CLT,"Charlotte, NC",...,2338.0,-1.4,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2017-01-01,AA,19805,N722AA,1793,13198,1319801,33198,MCI,"Kansas City, MO",...,2139.0,0.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,2017-01-01,AA,19805,N980AA,1794,14107,1410702,30466,PHX,"Phoenix, AZ",...,1546.0,1.5,0.0,NaN,0.0,0.0,11.0,0.0,4.0,NaN
31,2017-01-01,AA,19805,N755AA,1795,11057,1105703,31057,CLT,"Charlotte, NC",...,1119.0,-1.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,2017-01-01,AA,19805,N711AA,1796,11057,1105703,31057,CLT,"Charlotte, NC",...,2347.0,-0.7,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,2017-01-01,AA,19805,N155AA,1798,11057,1105703,31057,CLT,"Charlotte, NC",...,2154.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,2017-01-01,AA,19805,N156AA,1798,13303,1330303,32467,MIA,"Miami, FL",...,1915.0,0.7,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449983,2017-01-31,AA,19805,N746AA,1740,11433,1143302,31295,DTW,"Detroit, MI",...,1726.0,0.4,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449984,2017-01-31,AA,19805,N753AA,1741,11278,1127803,30852,DCA,"Washington, DC",...,1835.0,-2.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449985,2017-01-31,AA,19805,N753AA,1741,13204,1320402,31454,MCO,"Orlando, FL",...,2206.0,-0.9,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449986,2017-01-31,AA,19805,N710AA,1742,11057,1105703,31057,CLT,"Charlotte, NC",...,1834.0,0.6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449987,2017-01-31,AA,19805,N769AA,1742,12339,1233904,32337,IND,"Indianapolis, IN",...,1650.0,-1.8,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449988,2017-01-31,AA,19805,N174AA,1743,11298,1129804,30194,DFW,"Dallas/Fort Worth, TX",...,2353.0,-0.6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449989,2017-01-31,AA,19805,N174AA,1743,12889,1288903,32211,LAS,"Las Vegas, NV",...,1906.0,-1.8,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449990,2017-01-31,AA,19805,N948AA,1744,13495,1349503,33495,MSY,"New Orleans, LA",...,1658.0,-1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449991,2017-01-31,AA,19805,N948AA,1744,14100,1410002,34100,PHL,"Philadelphia, PA",...,1226.0,-2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449992,2017-01-31,AA,19805,N730AA,1745,11057,1105703,31057,CLT,"Charlotte, NC",...,1806.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449993,2017-01-31,AA,19805,N730AA,1745,13495,1349503,33495,MSY,"New Orleans, LA",...,1543.0,-0.6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449994,2017-01-31,AA,19805,N281AA,1746,14100,1410002,34100,PHL,"Philadelphia, PA",...,1227.0,-1.9,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449995,2017-01-31,AA,19805,N712AA,1747,10529,1052904,30529,BDL,"Hartford, CT",...,1915.0,0.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449996,2017-01-31,AA,19805,N769AA,1747,11057,1105703,31057,CLT,"Charlotte, NC",...,2139.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449997,2017-01-31,AA,19805,N582AA,1748,14100,1410002,34100,PHL,"Philadelphia, PA",...,1549.0,-2.8,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449998,2017-01-31,AA,19805,N709AA,1750,10693,1069302,30693,BNA,"Nashville, TN",...,1656.0,0.7,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449999,2017-01-31,AA,19805,N709AA,1750,11057,1105703,31057,CLT,"Charlotte, NC",...,1857.0,-1.3,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450000,2017-01-31,AA,19805,N109AA,1751,14100,1410002,34100,PHL,"Philadelphia, PA",...,1423.0,2.2,0.0,NaN,14.0,0.0,8.0,0.0,0.0,NaN
450001,2017-01-31,AA,19805,N701AA,1752,10397,1039705,30397,ATL,"Atlanta, GA",...,1015.0,0.6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450002,2017-01-31,AA,19805,N701AA,1752,11057,1105703,31057,CLT,"Charlotte, NC",...,1158.0,-1.6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450003,2017-01-31,AA,19805,N754AA,1754,14107,1410702,30466,PHX,"Phoenix, AZ",...,1256.0,-0.2,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450004,2017-01-31,AA,19805,N948AA,1755,14100,1410002,34100,PHL,"Philadelphia, PA",...,1933.0,-0.8,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450005,2017-01-31,AA,19805,N601AA,1756,11057,1105703,31057,CLT,"Charlotte, NC",...,1158.0,-0.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450007,2017-01-31,AA,19805,N721AA,1757,11057,1105703,31057,CLT,"Charlotte, NC",...,1748.0,8.0,0.0,NaN,0.0,0.0,75.0,0.0,5.0,NaN
450008,2017-01-31,AA,19805,N183AA,1760,11057,1105703,31057,CLT,"Charlotte, NC",...,1604.0,-1.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450009,2017-01-31,AA,19805,N183AA,1760,11292,1129202,30325,DEN,"Denver, CO",...,1247.0,-3.6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450010,2017-01-31,AA,19805,N765AA,1761,11278,1127803,30852,DCA,"Washington, DC",...,2012.0,-2.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450012,2017-01-31,AA,19805,N722AA,1762,11057,1105703,31057,CLT,"Charlotte, NC",...,1026.0,-1.3,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450014,2017-01-31,AA,19805,N554AA,1763,14679,1467903,33570,SAN,"San Diego, CA",...,1349.0,-0.7,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450015,2017-01-31,AA,19805,N747AA,1764,11697,1169704,32467,FLL,"Fort Lauderdale, FL",...,1034.0,-1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
бинго блять!

In [22]:
hdf = df.set_index(['unique_carrier', 'origin', 'dest', 'tail_num',
                    'fl_date']).sort_index()
hdf[hdf.columns[:4]].head()

                                                airline_id  fl_num  \
unique_carrier origin dest tail_num fl_date
AA             ABQ    DFW  N3ABAA   2017-01-15       19805    2611
                                    2017-01-29       19805    1282
                           N3AEAA   2017-01-11       19805    2511
                           N3AJAA   2017-01-24       19805    2511
                           N3AVAA   2017-01-11       19805    1282

                                                origin_airport_id  \
unique_carrier origin dest tail_num fl_date
AA             ABQ    DFW  N3ABAA   2017-01-15              10140
                                    2017-01-29              10140
                           N3AEAA   2017-01-11              10140
                           N3AJAA   2017-01-24              10140
                           N3AVAA   2017-01-11              10140

                                                origin_airport_seq_id
unique_carrier origin dest tail_num fl_date
AA             ABQ    DFW  N3ABAA   2017-01-15                1014003
                                    2017-01-29                1014003
                           N3AEAA   2017-01-11                1014003
                           N3AJAA   2017-01-24                1014003
                           N3AVAA   2017-01-11                1014003

In [23]:
hdf1 = df.set_index(['origin_city_name', 'origin', 'dest', 'tail_num',
                    'fl_date']).sort_index()
hdf1[hdf1.columns[:4]].head()

                                                 unique_carrier  airline_id  \
origin_city_name origin dest tail_num fl_date
Aberdeen, SD     ABR    MSP  N426SW   2017-01-17             OO       20304
                             N429SW   2017-01-02             OO       20304
                             N431SW   2017-01-31             OO       20304
                             N433SW   2017-01-19             OO       20304
                             N441SW   2017-01-21             OO       20304

                                                  fl_num  origin_airport_id
origin_city_name origin dest tail_num fl_date
Aberdeen, SD     ABR    MSP  N426SW   2017-01-17    7363              10141
                             N429SW   2017-01-02    7363              10141
                             N431SW   2017-01-31    7363              10141
                             N433SW   2017-01-19    7365              10141
                             N441SW   2017-01-21    7365              10141

In [24]:
hdf2 = df.set_index(['origin_city_name']).sort_index()
hdf2[hdf2.columns[:4]].head()

                    fl_date unique_carrier  airline_id tail_num
origin_city_name
Aberdeen, SD     2017-01-19             OO       20304   N433SW
Aberdeen, SD     2017-01-18             OO       20304   N699BR
Aberdeen, SD     2017-01-08             OO       20304   N442SW
Aberdeen, SD     2017-01-27             OO       20304   N910EV
Aberdeen, SD     2017-01-25             OO       20304   N868CA

In [25]:
hdf2 = df.set_index(['origin_city_name']).sort_index()
hdf2[hdf2.columns[:7]].head()

,fl_date,unique_carrier,airline_id,tail_num,fl_num,origin_airport_id,origin_airport_seq_id
origin_city_name,,,,,,,
"Aberdeen, SD",2017-01-19,OO,20304,N433SW,7365,10141,1014103
"Aberdeen, SD",2017-01-18,OO,20304,N699BR,7363,10141,1014103
"Aberdeen, SD",2017-01-08,OO,20304,N442SW,7365,10141,1014103
"Aberdeen, SD",2017-01-27,OO,20304,N910EV,7363,10141,1014103
"Aberdeen, SD",2017-01-25,OO,20304,N868CA,7363,10141,1014103

In [26]:
hdf.loc[['AA', 'DL', 'US'], ['dep_time', 'dep_delay']]

                                                dep_time  dep_delay
unique_carrier origin dest tail_num fl_date
AA             ABQ    DFW  N3ABAA   2017-01-15     500.0        0.0
                                    2017-01-29     757.0       -3.0
                           N3AEAA   2017-01-11    1451.0       -9.0
                           N3AJAA   2017-01-24    1502.0        2.0
                           N3AVAA   2017-01-11     752.0       -8.0
                           N3AWAA   2017-01-27    1550.0       50.0
                           N3AXAA   2017-01-16    1524.0       24.0
                                    2017-01-17     757.0       -3.0
                           N3BJAA   2017-01-25     823.0       23.0
                           N3BPAA   2017-01-11    1638.0       -7.0
                           N3BTAA   2017-01-26     753.0       -7.0
                           N3BYAA   2017-01-18    1452.0       -8.0
                           N3CAAA   2017-01-23     453.0       -7.0
                           N3CBAA   2017-01-13    1456.0       -4.0
                           N3CDAA   2017-01-12    1455.0       -5.0
                                    2017-01-28     758.0       -2.0
                           N3CEAA   2017-01-21     455.0       -5.0
                           N3CGAA   2017-01-18     759.0       -1.0
                           N3CWAA   2017-01-27    1638.0       -7.0
                           N3CXAA   2017-01-31     752.0       -8.0
                           N3DBAA   2017-01-19    1637.0       -8.0
                           N3DMAA   2017-01-13    1638.0       -7.0
                           N3DRAA   2017-01-27     753.0       -7.0
                           N3DVAA   2017-01-09    1636.0       -9.0
                           N3DYAA   2017-01-10    1633.0      -12.0
                           N3ECAA   2017-01-15     753.0       -7.0
                           N3EDAA   2017-01-09    1450.0      -10.0
                                    2017-01-10     753.0       -7.0
                           N3ENAA   2017-01-24     756.0       -4.0
                                    2017-01-26    1533.0       33.0
...                                                  ...        ...
DL             XNA    ATL  N921AT   2017-01-20    1156.0       -3.0
                           N924DL   2017-01-30     555.0       -5.0
                           N925DL   2017-01-12     551.0       -9.0
                           N929AT   2017-01-08    1155.0       -4.0
                                    2017-01-31    1139.0      -20.0
                           N932AT   2017-01-12    1158.0       -1.0
                           N938AT   2017-01-26    1204.0        5.0
                           N940AT   2017-01-18    1157.0       -2.0
                                    2017-01-19    1200.0        1.0
                           N943DL   2017-01-22     555.0       -5.0
                           N950DL   2017-01-19     558.0       -2.0
                           N952DL   2017-01-18     556.0       -4.0
                           N953DL   2017-01-31     558.0       -2.0
                           N956DL   2017-01-17     554.0       -6.0
                           N961AT   2017-01-14    1233.0       -6.0
                           N964AT   2017-01-27    1155.0       -4.0
                           N966DL   2017-01-23     559.0       -1.0
                           N968DL   2017-01-29     555.0       -5.0
                           N969DL   2017-01-11     556.0       -4.0
                           N976DL   2017-01-09     622.0       22.0
                           N977AT   2017-01-24    1202.0        3.0
                                    2017-01-25    1149.0      -10.0
                           N977DL   2017-01-21     603.0       -2.0
                           N979AT   2017-01-15    1238.0       -1.0
                                    2017-01-22    1155.0       -4.0
                           N983AT   2017-01-11    1148.0      -11.0
                           N988DL   2017-01-26     556.0       -4.0
                           N989DL   2017-01-25     555.0       -5.0
                           N990DL   2017-01-15     604.0       -1.0
                           N995AT   2017-01-16    1152.0       -7.0

[142945 rows x 2 columns]

In [27]:
hdf.loc[(['AA', 'DL', 'US'], ['ORD', 'DSM']), ['dep_time', 'dep_delay']]

                                                dep_time  dep_delay
unique_carrier origin dest tail_num fl_date
AA             DSM    DFW  N424AA   2017-01-23    1324.0       -3.0
                           N426AA   2017-01-25     541.0       -9.0
                           N437AA   2017-01-13     542.0       -8.0
                                    2017-01-23     544.0       -6.0
                           N438AA   2017-01-11     542.0       -8.0
                           N439AA   2017-01-24     544.0       -6.0
                                    2017-01-31     544.0       -6.0
                           N4UBAA   2017-01-18    1323.0       -4.0
                           N4WNAA   2017-01-27    1322.0       -5.0
                           N4XBAA   2017-01-09     536.0      -14.0
                           N4XEAA   2017-01-21     544.0       -6.0
                           N4XFAA   2017-01-31    1320.0       -7.0
                           N4XGAA   2017-01-28    1337.0       10.0
                                    2017-01-30     542.0       -8.0
                           N4XJAA   2017-01-20     552.0        2.0
                                    2017-01-21    1320.0       -7.0
                           N4XKAA   2017-01-26    1323.0       -4.0
                           N4XMAA   2017-01-16    1423.0       56.0
                                    2017-01-19    1321.0       -6.0
                           N4XPAA   2017-01-09    1322.0       -5.0
                                    2017-01-14     545.0       -5.0
                           N4XTAA   2017-01-10    1355.0       28.0
                           N4XUAA   2017-01-13    1330.0        3.0
                                    2017-01-14    1319.0       -8.0
                           N4XVAA   2017-01-28       NaN        NaN
                           N4XXAA   2017-01-15    1322.0       -5.0
                                    2017-01-16     545.0       -5.0
                           N4XYAA   2017-01-18     559.0        9.0
                           N4YCAA   2017-01-26     545.0       -5.0
                                    2017-01-27     544.0       -6.0
...                                                  ...        ...
DL             ORD    SLC  N316NB   2017-01-23    1332.0       -6.0
                           N317NB   2017-01-09    1330.0       -8.0
                                    2017-01-11    1345.0        7.0
                           N319NB   2017-01-17    1353.0       15.0
                                    2017-01-22    1331.0       -7.0
                           N320NB   2017-01-13    1332.0       -6.0
                           N321NB   2017-01-19    1419.0       41.0
                           N323NB   2017-01-01    1732.0       57.0
                                    2017-01-02    1351.0       11.0
                           N324NB   2017-01-16    1337.0       -1.0
                           N326NB   2017-01-24    1332.0       -6.0
                                    2017-01-26    1349.0       11.0
                           N329NB   2017-01-06    1422.0       32.0
                           N330NB   2017-01-04    1344.0       -6.0
                                    2017-01-12    1343.0        5.0
                           N335NB   2017-01-31    1336.0       -2.0
                           N338NB   2017-01-29    1355.0       17.0
                           N347NB   2017-01-08    1338.0        0.0
                           N348NB   2017-01-10    1355.0       17.0
                           N349NB   2017-01-30    1333.0       -5.0
                           N352NW   2017-01-06    1857.0       10.0
                           N354NW   2017-01-04    1844.0       -3.0
                           N356NW   2017-01-02    1640.0       20.0
                           N358NW   2017-01-05    1856.0        9.0
                           N360NB   2017-01-25    1354.0       16.0
                           N365NB   2017-01-18    1350.0       12.0
                           N368NB   2017-01-27    1351.0       13.0
                           N370NB   2017-01-20    1355.0       17.0
                           N374NW   2017-01-03    1846.0       -1.0
                           N987AT   2017-01-08    1914.0       29.0

[5582 rows x 2 columns]

In [35]:
hdf2.loc[['Aberdeen, SD'], ['origin_airport_id']].head()

                  origin_airport_id
origin_city_name
Aberdeen, SD                  10141
Aberdeen, SD                  10141
Aberdeen, SD                  10141
Aberdeen, SD                  10141
Aberdeen, SD                  10141

In [36]:
hdf.loc[pd.IndexSlice[:, ['ORD', 'DSM']], ['dep_time', 'dep_delay']]

                                                dep_time  dep_delay
unique_carrier origin dest tail_num fl_date
AA             DSM    DFW  N424AA   2017-01-23    1324.0       -3.0
                           N426AA   2017-01-25     541.0       -9.0
                           N437AA   2017-01-13     542.0       -8.0
                                    2017-01-23     544.0       -6.0
                           N438AA   2017-01-11     542.0       -8.0
                           N439AA   2017-01-24     544.0       -6.0
                                    2017-01-31     544.0       -6.0
                           N4UBAA   2017-01-18    1323.0       -4.0
                           N4WNAA   2017-01-27    1322.0       -5.0
                           N4XBAA   2017-01-09     536.0      -14.0
                           N4XEAA   2017-01-21     544.0       -6.0
                           N4XFAA   2017-01-31    1320.0       -7.0
                           N4XGAA   2017-01-28    1337.0       10.0
                                    2017-01-30     542.0       -8.0
                           N4XJAA   2017-01-20     552.0        2.0
                                    2017-01-21    1320.0       -7.0
                           N4XKAA   2017-01-26    1323.0       -4.0
                           N4XMAA   2017-01-16    1423.0       56.0
                                    2017-01-19    1321.0       -6.0
                           N4XPAA   2017-01-09    1322.0       -5.0
                                    2017-01-14     545.0       -5.0
                           N4XTAA   2017-01-10    1355.0       28.0
                           N4XUAA   2017-01-13    1330.0        3.0
                                    2017-01-14    1319.0       -8.0
                           N4XVAA   2017-01-28       NaN        NaN
                           N4XXAA   2017-01-15    1322.0       -5.0
                                    2017-01-16     545.0       -5.0
                           N4XYAA   2017-01-18     559.0        9.0
                           N4YCAA   2017-01-26     545.0       -5.0
                                    2017-01-27     544.0       -6.0
...                                                  ...        ...
WN             DSM    STL  N635SW   2017-01-15    1806.0        6.0
                           N645SW   2017-01-22    1800.0        0.0
                           N651SW   2017-01-01    1856.0       61.0
                           N654SW   2017-01-21    1156.0      126.0
                           N720WN   2017-01-23     605.0       -5.0
                                    2017-01-31     603.0       -7.0
                           N724SW   2017-01-30    1738.0       -7.0
                           N734SA   2017-01-20    1839.0       54.0
                           N737JW   2017-01-09     605.0       -5.0
                           N747SA   2017-01-27     610.0        0.0
                           N7718B   2017-01-18    1736.0       -9.0
                           N772SW   2017-01-31    1738.0       -7.0
                           N7735A   2017-01-11     603.0       -7.0
                           N773SA   2017-01-17    1743.0       -2.0
                           N7749B   2017-01-10    1746.0        1.0
                           N781WN   2017-01-02    1909.0       59.0
                                    2017-01-30     605.0       -5.0
                           N7827A   2017-01-14    1644.0      414.0
                           N7833A   2017-01-06     659.0       49.0
                           N7882B   2017-01-15     901.0        1.0
                           N791SW   2017-01-26    1744.0       -1.0
                           N903WN   2017-01-13    1908.0       83.0
                           N905WN   2017-01-05     605.0       -5.0
                           N944WN   2017-01-02     630.0        5.0
                           N949WN   2017-01-01     624.0        4.0
                           N952WN   2017-01-29     854.0       -6.0
                           N954WN   2017-01-11    1736.0       -9.0
                           N956WN   2017-01-06    1736.0       -9.0
                           NaN      2017-01-16       NaN        NaN
                                    2017-01-17       NaN        NaN

[19466 rows x 2 columns]

In [37]:
pd.IndexSlice[:, ['ORD', 'DSM']]

(slice(None, None, None), ['ORD', 'DSM'])

In [38]:
hdf.head()

                                                airline_id  fl_num  \
unique_carrier origin dest tail_num fl_date
AA             ABQ    DFW  N3ABAA   2017-01-15       19805    2611
                                    2017-01-29       19805    1282
                           N3AEAA   2017-01-11       19805    2511
                           N3AJAA   2017-01-24       19805    2511
                           N3AVAA   2017-01-11       19805    1282

                                                origin_airport_id  \
unique_carrier origin dest tail_num fl_date
AA             ABQ    DFW  N3ABAA   2017-01-15              10140
                                    2017-01-29              10140
                           N3AEAA   2017-01-11              10140
                           N3AJAA   2017-01-24              10140
                           N3AVAA   2017-01-11              10140

                                                origin_airport_seq_id  \
unique_carrier origin dest tail_num fl_date
AA             ABQ    DFW  N3ABAA   2017-01-15                1014003
                                    2017-01-29                1014003
                           N3AEAA   2017-01-11                1014003
                           N3AJAA   2017-01-24                1014003
                           N3AVAA   2017-01-11                1014003

                                                origin_city_market_id  \
unique_carrier origin dest tail_num fl_date
AA             ABQ    DFW  N3ABAA   2017-01-15                  30140
                                    2017-01-29                  30140
                           N3AEAA   2017-01-11                  30140
                           N3AJAA   2017-01-24                  30140
                           N3AVAA   2017-01-11                  30140

                                               origin_city_name  \
unique_carrier origin dest tail_num fl_date
AA             ABQ    DFW  N3ABAA   2017-01-15  Albuquerque, NM
                                    2017-01-29  Albuquerque, NM
                           N3AEAA   2017-01-11  Albuquerque, NM
                           N3AJAA   2017-01-24  Albuquerque, NM
                           N3AVAA   2017-01-11  Albuquerque, NM

                                                dest_airport_id  \
unique_carrier origin dest tail_num fl_date
AA             ABQ    DFW  N3ABAA   2017-01-15            11298
                                    2017-01-29            11298
                           N3AEAA   2017-01-11            11298
                           N3AJAA   2017-01-24            11298
                           N3AVAA   2017-01-11            11298

                                                dest_airport_seq_id  \
unique_carrier origin dest tail_num fl_date
AA             ABQ    DFW  N3ABAA   2017-01-15              1129804
                                    2017-01-29              1129804
                           N3AEAA   2017-01-11              1129804
                           N3AJAA   2017-01-24              1129804
                           N3AVAA   2017-01-11              1129804

                                                dest_city_market_id  \
unique_carrier origin dest tail_num fl_date
AA             ABQ    DFW  N3ABAA   2017-01-15                30194
                                    2017-01-29                30194
                           N3AEAA   2017-01-11                30194
                           N3AJAA   2017-01-24                30194
                           N3AVAA   2017-01-11                30194

                                                       dest_city_name  \
unique_carrier origin dest tail_num fl_date
AA             ABQ    DFW  N3ABAA   2017-01-15  Dallas/Fort Worth, TX
                                    2017-01-29  Dallas/Fort Worth, TX
                           N3AEAA   2017-01-11  Dallas/Fort Worth, TX
                           N3AJAA   2017-01-24  Dallas/Fort Worth, TX
                           N3AVAA   2017-01-11  Dallas/Fort Worth, TX

                                                   ...       arr_time  \
unique_carrier origin dest tail_num fl_date        ...
AA             ABQ    DFW  N3ABAA   2017-01-15     ...          746.0
                                    2017-01-29     ...         1039.0
                           N3AEAA   2017-01-11     ...         1804.0
                           N3AJAA   2017-01-24     ...         1737.0
                           N3AVAA   2017-01-11     ...         1047.0

                                                arr_delay  cancelled  \
unique_carrier origin dest tail_num fl_date
AA             ABQ    DFW  N3ABAA   2017-01-15        0.0        0.0
                                    2017-01-29       -1.1        0.0
                           N3AEAA   2017-01-11        1.9        0.0
                           N3AJAA   2017-01-24       -0.8        0.0
                           N3AVAA   2017-01-11       -0.3        0.0

                                                cancellation_code  \
unique_carrier origin dest tail_num fl_date
AA             ABQ    DFW  N3ABAA   2017-01-15                NaN
                                    2017-01-29                NaN
                           N3AEAA   2017-01-11                NaN
                           N3AJAA   2017-01-24                NaN
                           N3AVAA   2017-01-11                NaN

                                                carrier_delay  weather_delay  \
unique_carrier origin dest tail_num fl_date
AA             ABQ    DFW  N3ABAA   2017-01-15            NaN            NaN
                                    2017-01-29            NaN            NaN
                           N3AEAA   2017-01-11            0.0            0.0
                           N3AJAA   2017-01-24            NaN            NaN
                           N3AVAA   2017-01-11            NaN            NaN

                                                nas_delay  security_delay  \
unique_carrier origin dest tail_num fl_date
AA             ABQ    DFW  N3ABAA   2017-01-15        NaN             NaN
                                    2017-01-29        NaN             NaN
                           N3AEAA   2017-01-11       19.0             0.0
                           N3AJAA   2017-01-24        NaN             NaN
                           N3AVAA   2017-01-11        NaN             NaN

                                                late_aircraft_delay  \
unique_carrier origin dest tail_num fl_date
AA             ABQ    DFW  N3ABAA   2017-01-15                  NaN
                                    2017-01-29                  NaN
                           N3AEAA   2017-01-11                  0.0
                           N3AJAA   2017-01-24                  NaN
                           N3AVAA   2017-01-11                  NaN

                                                unnamed: 32
unique_carrier origin dest tail_num fl_date
AA             ABQ    DFW  N3ABAA   2017-01-15          NaN
                                    2017-01-29          NaN
                           N3AEAA   2017-01-11          NaN
                           N3AJAA   2017-01-24          NaN
                           N3AVAA   2017-01-11          NaN

[5 rows x 28 columns]

In [48]:
anime

,fl_date,unique_carrier,airline_id,tail_num,fl_num,origin_airport_id,origin_airport_seq_id,origin_city_market_id,origin,origin_city_name,...,arr_time,arr_delay,cancelled,cancellation_code,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,unnamed: 32
0,2017-01-01,AA,19805,N153AA,1766,13930,1393004,30977,ORD,"Chicago, IL",...,932.0,-1.6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017-01-01,AA,19805,N192AA,1767,12889,1288903,32211,LAS,"Las Vegas, NV",...,1717.0,-0.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017-01-01,AA,19805,N829AA,1768,11278,1127803,30852,DCA,"Washington, DC",...,1253.0,-2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017-01-01,AA,19805,N770AA,1769,15304,1530402,33195,TPA,"Tampa, FL",...,818.0,-1.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017-01-01,AA,19805,N754AA,1770,14100,1410002,34100,PHL,"Philadelphia, PA",...,1305.0,-0.7,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2017-01-01,AA,19805,N754AA,1770,14122,1412202,30198,PIT,"Pittsburgh, PA",...,824.0,-0.8,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2017-01-01,AA,19805,N585AA,1772,11057,1105703,31057,CLT,"Charlotte, NC",...,1116.0,-0.6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2017-01-01,AA,19805,N737AA,1774,11057,1105703,31057,CLT,"Charlotte, NC",...,5.0,-0.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2017-01-01,AA,19805,N552AA,1775,11057,1105703,31057,CLT,"Charlotte, NC",...,1830.0,1.5,0.0,NaN,0.0,0.0,15.0,0.0,0.0,NaN
9,2017-01-01,AA,19805,N581AA,1775,11697,1169704,32467,FLL,"Fort Lauderdale, FL",...,1504.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2017-01-01,AA,19805,N756AA,1776,11278,1127803,30852,DCA,"Washington, DC",...,2031.0,-0.3,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2017-01-01,AA,19805,N807AA,1776,13303,1330303,32467,MIA,"Miami, FL",...,1741.0,5.9,0.0,NaN,0.0,0.0,0.0,0.0,59.0,NaN
12,2017-01-01,AA,19805,N755AA,1780,12339,1233904,32337,IND,"Indianapolis, IN",...,846.0,-0.3,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2017-01-01,AA,19805,N951AA,1782,11057,1105703,31057,CLT,"Charlotte, NC",...,1030.0,-0.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2017-01-01,AA,19805,N523AA,1783,11057,1105703,31057,CLT,"Charlotte, NC",...,2338.0,6.0,0.0,NaN,0.0,0.0,0.0,0.0,60.0,NaN
15,2017-01-01,AA,19805,N155AA,1783,12892,1289204,32575,LAX,"Los Angeles, CA",...,1926.0,0.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2017-01-01,AA,19805,N753AA,1785,11057,1105703,31057,CLT,"Charlotte, NC",...,2137.0,1.5,0.0,NaN,8.0,0.0,7.0,0.0,0.0,NaN
17,2017-01-01,AA,19805,N753AA,1785,15016,1501603,31123,STL,"St. Louis, MO",...,1907.0,0.2,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2017-01-01,AA,19805,N202AA,1786,14100,1410002,34100,PHL,"Philadelphia, PA",...,2029.0,-0.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2017-01-01,AA,19805,N587AA,1787,11057,1105703,31057,CLT,"Charlotte, NC",...,2126.0,2.6,0.0,NaN,0.0,0.0,0.0,0.0,26.0,NaN
20,2017-01-01,AA,19805,N153AA,1788,11057,1105703,31057,CLT,"Charlotte, NC",...,2327.0,-1.9,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2017-01-01,AA,19805,N153AA,1788,12889,1288903,32211,LAS,"Las Vegas, NV",...,1446.0,-0.8,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2017-01-01,AA,19805,N153AA,1788,14107,1410702,30466,PHX,"Phoenix, AZ",...,2131.0,-0.7,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2017-01-01,AA,19805,N124AA,1789,11057,1105703,31057,CLT,"Charlotte, NC",...,1618.0,-1.7,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2017-01-01,AA,19805,N961AA,1790,11697,1169704,32467,FLL,"Fort Lauderdale, FL",...,1645.0,0.8,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2017-01-01,AA,19805,N583AA,1791,11057,1105703,31057,CLT,"Charlotte, NC",...,1820.0,-1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2017-01-01,AA,19805,N583AA,1791,11298,1129804,30194,DFW,"Dallas/Fort Worth, TX",...,1524.0,-1.6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2017-01-01,AA,19805,N583AA,1791,12889,1288903,32211,LAS,"Las Vegas, NV",...,1052.0,-0.6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2017-01-01,AA,19805,N757AA,1793,11057,1105703,31057,CLT,"Charlotte, NC",...,2338.0,-1.4,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2017-01-01,AA,19805,N722AA,1793,13198,1319801,33198,MCI,"Kansas City, MO",...,2139.0,0.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449987,2017-01-31,AA,19805,N769AA,1742,12339,1233904,32337,IND,"Indianapolis, IN",...,1650.0,-1.8,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449988,2017-01-31,AA,19805,N174AA,1743,11298,1129804,30194,DFW,"Dallas/Fort Worth, TX",...,2353.0,-0.6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449989,2017-01-31,AA,19805,N174AA,1743,12889,1288903,32211,LAS,"Las Vegas, NV",...,1906.0,-1.8,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449990,2017-01-31,AA,19805,N948AA,1744,13495,1349503,33495,MSY,"New Orleans, LA",...,1658.0,-1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449991,2017-01-31,AA,19805,N948AA,1744,14100,1410002,34100,PHL,"Philadelphia, PA",...,1226.0,-2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449992,2017-01-31,AA,19805,N730AA,1745,11057,1105703,31057,CLT,"Charlotte, NC",...,1806.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449993,2017-01-31,AA,19805,N730AA,1745,13495,1349503,33495,MSY,"New Orleans, LA",...,1543.0,-0.6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449994,2017-01-31,AA,19805,N281AA,1746,14100,1410002,34100,PHL,"Philadelphia, PA",...,1227.0,-1.9,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449995,2017-01-31,AA,19805,N712AA,1747,10529,1052904,30529,BDL,"Hartford, CT",...,1915.0,0.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449996,2017-01-31,AA,19805,N769AA,1747,11057,1105703,31057,CLT,"Charlotte, NC",...,2139.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449997,2017-01-31,AA,19805,N582AA,1748,14100,1410002,34100,PHL,"Philadelphia, PA",...,1549.0,-2.8,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449998,2017-01-31,AA,19805,N709AA,1750,10693,1069302,30693,BNA,"Nashville, TN",...,1656.0,0.7,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449999,2017-01-31,AA,19805,N709AA,1750,11057,1105703,31057,CLT,"Charlotte, NC",...,1857.0,-1.3,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450000,2017-01-31,AA,19805,N109AA,1751,14100,1410002,34100,PHL,"Philadelphia, PA",...,1423.0,2.2,0.0,NaN,14.0,0.0,8.0,0.0,0.0,NaN
450001,2017-01-31,AA,19805,N701AA,1752,10397,1039705,30397,ATL,"Atlanta, GA",...,1015.0,0.6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450002,2017-01-31,AA,19805,N701AA,1752,11057,1105703,31057,CLT,"Charlotte, NC",...,1158.0,-1.6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450003,2017-01-31,AA,19805,N754AA,1754,14107,1410702,30466,PHX,"Phoenix, AZ",...,1256.0,-0.2,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450004,2017-01-31,AA,19805,N948AA,1755,14100,1410002,34100,PHL,"Philadelphia, PA",...,1933.0,-0.8,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450005,2017-01-31,AA,19805,N601AA,1756,11057,1105703,31057,CLT,"Charlotte, NC",...,1158.0,-0.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450006,2017-01-31,AA,19805,N601AA,1756,13487,1348702,31650,MSP,"Minneapolis, MN",...,841.0,-1.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450007,2017-01-31,AA,19805,N721AA,1757,11057,1105703,31057,CLT,"Charlotte, NC",...,1748.0,8.0,0.0,NaN,0.0,0.0,75.0,0.0,5.0,NaN
450008,2017-01-31,AA,19805,N183AA,1760,11057,1105703,31057,CLT,"Charlotte, NC",...,1604.0,-1.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450009,2017-01-31,AA,19805,N183AA,1760,11292,1129202,30325,DEN,"Denver, CO",...,1247.0,-3.6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450010,2017-01-31,AA,19805,N765AA,1761,11278,1127803,30852,DCA,"Washington, DC",...,2012.0,-2.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450011,2017-01-31,AA,19805,N722AA,1762,10994,1099402,30994,CHS,"Charleston, SC",...,841.0,-1.4,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450012,2017-01-31,AA,19805,N722AA,1762,11057,1105703,31057,CLT,"Charlotte, NC",...,1026.0,-1.3,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450013,2017-01-31,AA,19805,N554AA,1763,11298,1129804,30194,DFW,"Dallas/Fort Worth, TX",...,748.0,-2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450014,2017-01-31,AA,19805,N554AA,1763,14679,1467903,33570,SAN,"San Diego, CA",...,1349.0,-0.7,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450015,2017-01-31,AA,19805,N747AA,1764,11697,1169704,32467,FLL,"Fort Lauderdale, FL",...,1034.0,-1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450016,2017-01-31,AA,19805,N914AA,1766,11278,1127803,30852,DCA,"Washington, DC",...,858.0,-2.4,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
anime

,fl_date,unique_carrier,airline_id,tail_num,fl_num,origin_airport_id,origin_airport_seq_id,origin_city_market_id,origin,origin_city_name,...,arr_time,arr_delay,cancelled,cancellation_code,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,unnamed: 32
0,2017-01-01,AA,19805,N153AA,1766,13930,1393004,30977,ORD,"Chicago, IL",...,932.0,-1.6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017-01-01,AA,19805,N192AA,1767,12889,1288903,32211,LAS,"Las Vegas, NV",...,1717.0,-0.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017-01-01,AA,19805,N829AA,1768,11278,1127803,30852,DCA,"Washington, DC",...,1253.0,-2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017-01-01,AA,19805,N770AA,1769,15304,1530402,33195,TPA,"Tampa, FL",...,818.0,-1.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017-01-01,AA,19805,N754AA,1770,14100,1410002,34100,PHL,"Philadelphia, PA",...,1305.0,-0.7,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2017-01-01,AA,19805,N754AA,1770,14122,1412202,30198,PIT,"Pittsburgh, PA",...,824.0,-0.8,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2017-01-01,AA,19805,N585AA,1772,11057,1105703,31057,CLT,"Charlotte, NC",...,1116.0,-0.6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2017-01-01,AA,19805,N737AA,1774,11057,1105703,31057,CLT,"Charlotte, NC",...,5.0,-0.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2017-01-01,AA,19805,N552AA,1775,11057,1105703,31057,CLT,"Charlotte, NC",...,1830.0,1.5,0.0,NaN,0.0,0.0,15.0,0.0,0.0,NaN
9,2017-01-01,AA,19805,N581AA,1775,11697,1169704,32467,FLL,"Fort Lauderdale, FL",...,1504.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2017-01-01,AA,19805,N756AA,1776,11278,1127803,30852,DCA,"Washington, DC",...,2031.0,-0.3,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2017-01-01,AA,19805,N807AA,1776,13303,1330303,32467,MIA,"Miami, FL",...,1741.0,5.9,0.0,NaN,0.0,0.0,0.0,0.0,59.0,NaN
12,2017-01-01,AA,19805,N755AA,1780,12339,1233904,32337,IND,"Indianapolis, IN",...,846.0,-0.3,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2017-01-01,AA,19805,N951AA,1782,11057,1105703,31057,CLT,"Charlotte, NC",...,1030.0,-0.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2017-01-01,AA,19805,N523AA,1783,11057,1105703,31057,CLT,"Charlotte, NC",...,2338.0,6.0,0.0,NaN,0.0,0.0,0.0,0.0,60.0,NaN
15,2017-01-01,AA,19805,N155AA,1783,12892,1289204,32575,LAX,"Los Angeles, CA",...,1926.0,0.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2017-01-01,AA,19805,N753AA,1785,11057,1105703,31057,CLT,"Charlotte, NC",...,2137.0,1.5,0.0,NaN,8.0,0.0,7.0,0.0,0.0,NaN
17,2017-01-01,AA,19805,N753AA,1785,15016,1501603,31123,STL,"St. Louis, MO",...,1907.0,0.2,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2017-01-01,AA,19805,N202AA,1786,14100,1410002,34100,PHL,"Philadelphia, PA",...,2029.0,-0.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2017-01-01,AA,19805,N587AA,1787,11057,1105703,31057,CLT,"Charlotte, NC",...,2126.0,2.6,0.0,NaN,0.0,0.0,0.0,0.0,26.0,NaN
20,2017-01-01,AA,19805,N153AA,1788,11057,1105703,31057,CLT,"Charlotte, NC",...,2327.0,-1.9,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2017-01-01,AA,19805,N153AA,1788,12889,1288903,32211,LAS,"Las Vegas, NV",...,1446.0,-0.8,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2017-01-01,AA,19805,N153AA,1788,14107,1410702,30466,PHX,"Phoenix, AZ",...,2131.0,-0.7,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2017-01-01,AA,19805,N124AA,1789,11057,1105703,31057,CLT,"Charlotte, NC",...,1618.0,-1.7,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2017-01-01,AA,19805,N961AA,1790,11697,1169704,32467,FLL,"Fort Lauderdale, FL",...,1645.0,0.8,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2017-01-01,AA,19805,N583AA,1791,11057,1105703,31057,CLT,"Charlotte, NC",...,1820.0,-1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2017-01-01,AA,19805,N583AA,1791,11298,1129804,30194,DFW,"Dallas/Fort Worth, TX",...,1524.0,-1.6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2017-01-01,AA,19805,N583AA,1791,12889,1288903,32211,LAS,"Las Vegas, NV",...,1052.0,-0.6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2017-01-01,AA,19805,N757AA,1793,11057,1105703,31057,CLT,"Charlotte, NC",...,2338.0,-1.4,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2017-01-01,AA,19805,N722AA,1793,13198,1319801,33198,MCI,"Kansas City, MO",...,2139.0,0.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449987,2017-01-31,AA,19805,N769AA,1742,12339,1233904,32337,IND,"Indianapolis, IN",...,1650.0,-1.8,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449988,2017-01-31,AA,19805,N174AA,1743,11298,1129804,30194,DFW,"Dallas/Fort Worth, TX",...,2353.0,-0.6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449989,2017-01-31,AA,19805,N174AA,1743,12889,1288903,32211,LAS,"Las Vegas, NV",...,1906.0,-1.8,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449990,2017-01-31,AA,19805,N948AA,1744,13495,1349503,33495,MSY,"New Orleans, LA",...,1658.0,-1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449991,2017-01-31,AA,19805,N948AA,1744,14100,1410002,34100,PHL,"Philadelphia, PA",...,1226.0,-2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449992,2017-01-31,AA,19805,N730AA,1745,11057,1105703,31057,CLT,"Charlotte, NC",...,1806.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449993,2017-01-31,AA,19805,N730AA,1745,13495,1349503,33495,MSY,"New Orleans, LA",...,1543.0,-0.6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449994,2017-01-31,AA,19805,N281AA,1746,14100,1410002,34100,PHL,"Philadelphia, PA",...,1227.0,-1.9,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449995,2017-01-31,AA,19805,N712AA,1747,10529,1052904,30529,BDL,"Hartford, CT",...,1915.0,0.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449996,2017-01-31,AA,19805,N769AA,1747,11057,1105703,31057,CLT,"Charlotte, NC",...,2139.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449997,2017-01-31,AA,19805,N582AA,1748,14100,1410002,34100,PHL,"Philadelphia, PA",...,1549.0,-2.8,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449998,2017-01-31,AA,19805,N709AA,1750,10693,1069302,30693,BNA,"Nashville, TN",...,1656.0,0.7,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449999,2017-01-31,AA,19805,N709AA,1750,11057,1105703,31057,CLT,"Charlotte, NC",...,1857.0,-1.3,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450000,2017-01-31,AA,19805,N109AA,1751,14100,1410002,34100,PHL,"Philadelphia, PA",...,1423.0,2.2,0.0,NaN,14.0,0.0,8.0,0.0,0.0,NaN
450001,2017-01-31,AA,19805,N701AA,1752,10397,1039705,30397,ATL,"Atlanta, GA",...,1015.0,0.6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450002,2017-01-31,AA,19805,N701AA,1752,11057,1105703,31057,CLT,"Charlotte, NC",...,1158.0,-1.6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450003,2017-01-31,AA,19805,N754AA,1754,14107,1410702,30466,PHX,"Phoenix, AZ",...,1256.0,-0.2,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450004,2017-01-31,AA,19805,N948AA,1755,14100,1410002,34100,PHL,"Philadelphia, PA",...,1933.0,-0.8,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450005,2017-01-31,AA,19805,N601AA,1756,11057,1105703,31057,CLT,"Charlotte, NC",...,1158.0,-0.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450006,2017-01-31,AA,19805,N601AA,1756,13487,1348702,31650,MSP,"Minneapolis, MN",...,841.0,-1.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450007,2017-01-31,AA,19805,N721AA,1757,11057,1105703,31057,CLT,"Charlotte, NC",...,1748.0,8.0,0.0,NaN,0.0,0.0,75.0,0.0,5.0,NaN
450008,2017-01-31,AA,19805,N183AA,1760,11057,1105703,31057,CLT,"Charlotte, NC",...,1604.0,-1.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450009,2017-01-31,AA,19805,N183AA,1760,11292,1129202,30325,DEN,"Denver, CO",...,1247.0,-3.6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450010,2017-01-31,AA,19805,N765AA,1761,11278,1127803,30852,DCA,"Washington, DC",...,2012.0,-2.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450011,2017-01-31,AA,19805,N722AA,1762,10994,1099402,30994,CHS,"Charleston, SC",...,841.0,-1.4,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450012,2017-01-31,AA,19805,N722AA,1762,11057,1105703,31057,CLT,"Charlotte, NC",...,1026.0,-1.3,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450013,2017-01-31,AA,19805,N554AA,1763,11298,1129804,30194,DFW,"Dallas/Fort Worth, TX",...,748.0,-2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450014,2017-01-31,AA,19805,N554AA,1763,14679,1467903,33570,SAN,"San Diego, CA",...,1349.0,-0.7,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450015,2017-01-31,AA,19805,N747AA,1764,11697,1169704,32467,FLL,"Fort Lauderdale, FL",...,1034.0,-1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450016,2017-01-31,AA,19805,N914AA,1766,11278,1127803,30852,DCA,"Washington, DC",...,858.0,-2.4,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
anime.loc[anime['arr_time'] > 1000, 'arr_delay'] = anime.loc[anime['arr_time'] > 1000, 'arr_delay']

In [54]:
anime

,fl_date,unique_carrier,airline_id,tail_num,fl_num,origin_airport_id,origin_airport_seq_id,origin_city_market_id,origin,origin_city_name,...,arr_time,arr_delay,cancelled,cancellation_code,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,unnamed: 32
0,2017-01-01,AA,19805,N153AA,1766,13930,1393004,30977,ORD,"Chicago, IL",...,932.0,-1.6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017-01-01,AA,19805,N192AA,1767,12889,1288903,32211,LAS,"Las Vegas, NV",...,1717.0,-0.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017-01-01,AA,19805,N829AA,1768,11278,1127803,30852,DCA,"Washington, DC",...,1253.0,-2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017-01-01,AA,19805,N770AA,1769,15304,1530402,33195,TPA,"Tampa, FL",...,818.0,-1.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017-01-01,AA,19805,N754AA,1770,14100,1410002,34100,PHL,"Philadelphia, PA",...,1305.0,-0.7,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2017-01-01,AA,19805,N754AA,1770,14122,1412202,30198,PIT,"Pittsburgh, PA",...,824.0,-0.8,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2017-01-01,AA,19805,N585AA,1772,11057,1105703,31057,CLT,"Charlotte, NC",...,1116.0,-0.6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2017-01-01,AA,19805,N737AA,1774,11057,1105703,31057,CLT,"Charlotte, NC",...,5.0,-0.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2017-01-01,AA,19805,N552AA,1775,11057,1105703,31057,CLT,"Charlotte, NC",...,1830.0,1.5,0.0,NaN,0.0,0.0,15.0,0.0,0.0,NaN
9,2017-01-01,AA,19805,N581AA,1775,11697,1169704,32467,FLL,"Fort Lauderdale, FL",...,1504.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2017-01-01,AA,19805,N756AA,1776,11278,1127803,30852,DCA,"Washington, DC",...,2031.0,-0.3,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2017-01-01,AA,19805,N807AA,1776,13303,1330303,32467,MIA,"Miami, FL",...,1741.0,5.9,0.0,NaN,0.0,0.0,0.0,0.0,59.0,NaN
12,2017-01-01,AA,19805,N755AA,1780,12339,1233904,32337,IND,"Indianapolis, IN",...,846.0,-0.3,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2017-01-01,AA,19805,N951AA,1782,11057,1105703,31057,CLT,"Charlotte, NC",...,1030.0,-0.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2017-01-01,AA,19805,N523AA,1783,11057,1105703,31057,CLT,"Charlotte, NC",...,2338.0,6.0,0.0,NaN,0.0,0.0,0.0,0.0,60.0,NaN
15,2017-01-01,AA,19805,N155AA,1783,12892,1289204,32575,LAX,"Los Angeles, CA",...,1926.0,0.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2017-01-01,AA,19805,N753AA,1785,11057,1105703,31057,CLT,"Charlotte, NC",...,2137.0,1.5,0.0,NaN,8.0,0.0,7.0,0.0,0.0,NaN
17,2017-01-01,AA,19805,N753AA,1785,15016,1501603,31123,STL,"St. Louis, MO",...,1907.0,0.2,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2017-01-01,AA,19805,N202AA,1786,14100,1410002,34100,PHL,"Philadelphia, PA",...,2029.0,-0.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2017-01-01,AA,19805,N587AA,1787,11057,1105703,31057,CLT,"Charlotte, NC",...,2126.0,2.6,0.0,NaN,0.0,0.0,0.0,0.0,26.0,NaN
20,2017-01-01,AA,19805,N153AA,1788,11057,1105703,31057,CLT,"Charlotte, NC",...,2327.0,-1.9,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2017-01-01,AA,19805,N153AA,1788,12889,1288903,32211,LAS,"Las Vegas, NV",...,1446.0,-0.8,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2017-01-01,AA,19805,N153AA,1788,14107,1410702,30466,PHX,"Phoenix, AZ",...,2131.0,-0.7,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2017-01-01,AA,19805,N124AA,1789,11057,1105703,31057,CLT,"Charlotte, NC",...,1618.0,-1.7,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2017-01-01,AA,19805,N961AA,1790,11697,1169704,32467,FLL,"Fort Lauderdale, FL",...,1645.0,0.8,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2017-01-01,AA,19805,N583AA,1791,11057,1105703,31057,CLT,"Charlotte, NC",...,1820.0,-1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2017-01-01,AA,19805,N583AA,1791,11298,1129804,30194,DFW,"Dallas/Fort Worth, TX",...,1524.0,-1.6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2017-01-01,AA,19805,N583AA,1791,12889,1288903,32211,LAS,"Las Vegas, NV",...,1052.0,-0.6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2017-01-01,AA,19805,N757AA,1793,11057,1105703,31057,CLT,"Charlotte, NC",...,2338.0,-1.4,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2017-01-01,AA,19805,N722AA,1793,13198,1319801,33198,MCI,"Kansas City, MO",...,2139.0,0.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449987,2017-01-31,AA,19805,N769AA,1742,12339,1233904,32337,IND,"Indianapolis, IN",...,1650.0,-1.8,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449988,2017-01-31,AA,19805,N174AA,1743,11298,1129804,30194,DFW,"Dallas/Fort Worth, TX",...,2353.0,-0.6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449989,2017-01-31,AA,19805,N174AA,1743,12889,1288903,32211,LAS,"Las Vegas, NV",...,1906.0,-1.8,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449990,2017-01-31,AA,19805,N948AA,1744,13495,1349503,33495,MSY,"New Orleans, LA",...,1658.0,-1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449991,2017-01-31,AA,19805,N948AA,1744,14100,1410002,34100,PHL,"Philadelphia, PA",...,1226.0,-2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449992,2017-01-31,AA,19805,N730AA,1745,11057,1105703,31057,CLT,"Charlotte, NC",...,1806.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449993,2017-01-31,AA,19805,N730AA,1745,13495,1349503,33495,MSY,"New Orleans, LA",...,1543.0,-0.6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449994,2017-01-31,AA,19805,N281AA,1746,14100,1410002,34100,PHL,"Philadelphia, PA",...,1227.0,-1.9,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449995,2017-01-31,AA,19805,N712AA,1747,10529,1052904,30529,BDL,"Hartford, CT",...,1915.0,0.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449996,2017-01-31,AA,19805,N769AA,1747,11057,1105703,31057,CLT,"Charlotte, NC",...,2139.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449997,2017-01-31,AA,19805,N582AA,1748,14100,1410002,34100,PHL,"Philadelphia, PA",...,1549.0,-2.8,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449998,2017-01-31,AA,19805,N709AA,1750,10693,1069302,30693,BNA,"Nashville, TN",...,1656.0,0.7,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449999,2017-01-31,AA,19805,N709AA,1750,11057,1105703,31057,CLT,"Charlotte, NC",...,1857.0,-1.3,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450000,2017-01-31,AA,19805,N109AA,1751,14100,1410002,34100,PHL,"Philadelphia, PA",...,1423.0,2.2,0.0,NaN,14.0,0.0,8.0,0.0,0.0,NaN
450001,2017-01-31,AA,19805,N701AA,1752,10397,1039705,30397,ATL,"Atlanta, GA",...,1015.0,0.6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450002,2017-01-31,AA,19805,N701AA,1752,11057,1105703,31057,CLT,"Charlotte, NC",...,1158.0,-1.6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450003,2017-01-31,AA,19805,N754AA,1754,14107,1410702,30466,PHX,"Phoenix, AZ",...,1256.0,-0.2,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450004,2017-01-31,AA,19805,N948AA,1755,14100,1410002,34100,PHL,"Philadelphia, PA",...,1933.0,-0.8,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450005,2017-01-31,AA,19805,N601AA,1756,11057,1105703,31057,CLT,"Charlotte, NC",...,1158.0,-0.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450006,2017-01-31,AA,19805,N601AA,1756,13487,1348702,31650,MSP,"Minneapolis, MN",...,841.0,-1.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450007,2017-01-31,AA,19805,N721AA,1757,11057,1105703,31057,CLT,"Charlotte, NC",...,1748.0,8.0,0.0,NaN,0.0,0.0,75.0,0.0,5.0,NaN
450008,2017-01-31,AA,19805,N183AA,1760,11057,1105703,31057,CLT,"Charlotte, NC",...,1604.0,-1.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450009,2017-01-31,AA,19805,N183AA,1760,11292,1129202,30325,DEN,"Denver, CO",...,1247.0,-3.6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450010,2017-01-31,AA,19805,N765AA,1761,11278,1127803,30852,DCA,"Washington, DC",...,2012.0,-2.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450011,2017-01-31,AA,19805,N722AA,1762,10994,1099402,30994,CHS,"Charleston, SC",...,841.0,-1.4,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450012,2017-01-31,AA,19805,N722AA,1762,11057,1105703,31057,CLT,"Charlotte, NC",...,1026.0,-1.3,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450013,2017-01-31,AA,19805,N554AA,1763,11298,1129804,30194,DFW,"Dallas/Fort Worth, TX",...,748.0,-2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450014,2017-01-31,AA,19805,N554AA,1763,14679,1467903,33570,SAN,"San Diego, CA",...,1349.0,-0.7,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450015,2017-01-31,AA,19805,N747AA,1764,11697,1169704,32467,FLL,"Fort Lauderdale, FL",...,1034.0,-1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450016,2017-01-31,AA,19805,N914AA,1766,11278,1127803,30852,DCA,"Washington, DC",...,858.0,-2.4,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
anime.loc[anime['arr_time']] > 1000

,fl_date,unique_carrier,airline_id,tail_num,fl_num,origin_airport_id,origin_airport_seq_id,origin_city_market_id,origin,origin_city_name,...,arr_time,arr_delay,cancelled,cancellation_code,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,unnamed: 32
932.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1717.0,True,True,True,True,False,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1253.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
818.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1305.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
824.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1116.0,True,True,True,True,False,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
5.0,True,True,True,True,True,True,True,True,True,True,...,False,False,False,True,False,False,False,False,False,False
1830.0,True,True,True,True,False,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1504.0,True,True,True,True,False,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
2031.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1741.0,True,True,True,True,False,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
846.0,True,True,True,True,True,True,True,True,True,True,...,False,False,False,True,False,False,False,False,False,False
1030.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
2338.0,True,True,True,True,False,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1926.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
2137.0,True,True,True,True,True,True,True,True,True,True,...,False,False,False,True,False,False,False,False,False,False
1907.0,True,True,True,True,False,True,True,True,True,True,...,False,False,False,True,False,False,False,False,False,False
2029.0,True,True,True,True,True,True,True,True,True,True,...,False,False,False,True,False,False,False,False,False,False
2126.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
2327.0,True,True,True,True,False,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1446.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
2131.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1618.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1645.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1820.0,True,True,True,True,False,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1524.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1052.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
2338.0,True,True,True,True,False,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
2139.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1650.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
2353.0,True,True,True,True,False,True,True,True,True,True,...,False,False,False,True,False,False,False,False,False,False
1906.0,True,True,True,True,False,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1658.0,True,True,True,True,False,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1226.0,True,True,True,True,False,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1806.0,True,True,True,True,False,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1543.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1227.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1915.0,True,True,True,True,False,True,True,True,True,True,...,False,False,False,True,False,False,False,False,False,False
2139.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1549.0,True,True,True,True,False,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1656.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1857.0,True,True,True,True,False,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1423.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1015.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1158.0,True,True,True,True,True,True,True,True,True,True,...,False,False,False,True,False,False,False,False,False,False
1256.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1933.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1158.0,True,True,True,True,True,True,True,True,True,True,...,False,False,False,True,False,False,False,False,False,False
841.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1748.0,True,True,True,True,False,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1604.0,True,True,True,True,False,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1247.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
2012.0,True,True,True,True,True,True,True,True,True,True,...,False,False,False,True,False,False,False,False,False,False
841.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1026.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
748.0,True,True,True,True,False,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1349.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1034.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
858.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False

In [57]:
anime

,fl_date,unique_carrier,airline_id,tail_num,fl_num,origin_airport_id,origin_airport_seq_id,origin_city_market_id,origin,origin_city_name,...,arr_time,arr_delay,cancelled,cancellation_code,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,unnamed: 32
0,2017-01-01,AA,19805,N153AA,1766,13930,1393004,30977,ORD,"Chicago, IL",...,932.0,-1.6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017-01-01,AA,19805,N192AA,1767,12889,1288903,32211,LAS,"Las Vegas, NV",...,1717.0,-0.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017-01-01,AA,19805,N829AA,1768,11278,1127803,30852,DCA,"Washington, DC",...,1253.0,-2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017-01-01,AA,19805,N770AA,1769,15304,1530402,33195,TPA,"Tampa, FL",...,818.0,-1.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017-01-01,AA,19805,N754AA,1770,14100,1410002,34100,PHL,"Philadelphia, PA",...,1305.0,-0.7,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2017-01-01,AA,19805,N754AA,1770,14122,1412202,30198,PIT,"Pittsburgh, PA",...,824.0,-0.8,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2017-01-01,AA,19805,N585AA,1772,11057,1105703,31057,CLT,"Charlotte, NC",...,1116.0,-0.6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2017-01-01,AA,19805,N737AA,1774,11057,1105703,31057,CLT,"Charlotte, NC",...,5.0,-0.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2017-01-01,AA,19805,N552AA,1775,11057,1105703,31057,CLT,"Charlotte, NC",...,1830.0,1.5,0.0,NaN,0.0,0.0,15.0,0.0,0.0,NaN
9,2017-01-01,AA,19805,N581AA,1775,11697,1169704,32467,FLL,"Fort Lauderdale, FL",...,1504.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2017-01-01,AA,19805,N756AA,1776,11278,1127803,30852,DCA,"Washington, DC",...,2031.0,-0.3,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2017-01-01,AA,19805,N807AA,1776,13303,1330303,32467,MIA,"Miami, FL",...,1741.0,5.9,0.0,NaN,0.0,0.0,0.0,0.0,59.0,NaN
12,2017-01-01,AA,19805,N755AA,1780,12339,1233904,32337,IND,"Indianapolis, IN",...,846.0,-0.3,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2017-01-01,AA,19805,N951AA,1782,11057,1105703,31057,CLT,"Charlotte, NC",...,1030.0,-0.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2017-01-01,AA,19805,N523AA,1783,11057,1105703,31057,CLT,"Charlotte, NC",...,2338.0,6.0,0.0,NaN,0.0,0.0,0.0,0.0,60.0,NaN
15,2017-01-01,AA,19805,N155AA,1783,12892,1289204,32575,LAX,"Los Angeles, CA",...,1926.0,0.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2017-01-01,AA,19805,N753AA,1785,11057,1105703,31057,CLT,"Charlotte, NC",...,2137.0,1.5,0.0,NaN,8.0,0.0,7.0,0.0,0.0,NaN
17,2017-01-01,AA,19805,N753AA,1785,15016,1501603,31123,STL,"St. Louis, MO",...,1907.0,0.2,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2017-01-01,AA,19805,N202AA,1786,14100,1410002,34100,PHL,"Philadelphia, PA",...,2029.0,-0.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2017-01-01,AA,19805,N587AA,1787,11057,1105703,31057,CLT,"Charlotte, NC",...,2126.0,2.6,0.0,NaN,0.0,0.0,0.0,0.0,26.0,NaN
20,2017-01-01,AA,19805,N153AA,1788,11057,1105703,31057,CLT,"Charlotte, NC",...,2327.0,-1.9,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2017-01-01,AA,19805,N153AA,1788,12889,1288903,32211,LAS,"Las Vegas, NV",...,1446.0,-0.8,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2017-01-01,AA,19805,N153AA,1788,14107,1410702,30466,PHX,"Phoenix, AZ",...,2131.0,-0.7,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2017-01-01,AA,19805,N124AA,1789,11057,1105703,31057,CLT,"Charlotte, NC",...,1618.0,-1.7,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2017-01-01,AA,19805,N961AA,1790,11697,1169704,32467,FLL,"Fort Lauderdale, FL",...,1645.0,0.8,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2017-01-01,AA,19805,N583AA,1791,11057,1105703,31057,CLT,"Charlotte, NC",...,1820.0,-1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2017-01-01,AA,19805,N583AA,1791,11298,1129804,30194,DFW,"Dallas/Fort Worth, TX",...,1524.0,-1.6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2017-01-01,AA,19805,N583AA,1791,12889,1288903,32211,LAS,"Las Vegas, NV",...,1052.0,-0.6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2017-01-01,AA,19805,N757AA,1793,11057,1105703,31057,CLT,"Charlotte, NC",...,2338.0,-1.4,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2017-01-01,AA,19805,N722AA,1793,13198,1319801,33198,MCI,"Kansas City, MO",...,2139.0,0.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449987,2017-01-31,AA,19805,N769AA,1742,12339,1233904,32337,IND,"Indianapolis, IN",...,1650.0,-1.8,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449988,2017-01-31,AA,19805,N174AA,1743,11298,1129804,30194,DFW,"Dallas/Fort Worth, TX",...,2353.0,-0.6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449989,2017-01-31,AA,19805,N174AA,1743,12889,1288903,32211,LAS,"Las Vegas, NV",...,1906.0,-1.8,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449990,2017-01-31,AA,19805,N948AA,1744,13495,1349503,33495,MSY,"New Orleans, LA",...,1658.0,-1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449991,2017-01-31,AA,19805,N948AA,1744,14100,1410002,34100,PHL,"Philadelphia, PA",...,1226.0,-2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449992,2017-01-31,AA,19805,N730AA,1745,11057,1105703,31057,CLT,"Charlotte, NC",...,1806.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449993,2017-01-31,AA,19805,N730AA,1745,13495,1349503,33495,MSY,"New Orleans, LA",...,1543.0,-0.6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449994,2017-01-31,AA,19805,N281AA,1746,14100,1410002,34100,PHL,"Philadelphia, PA",...,1227.0,-1.9,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449995,2017-01-31,AA,19805,N712AA,1747,10529,1052904,30529,BDL,"Hartford, CT",...,1915.0,0.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449996,2017-01-31,AA,19805,N769AA,1747,11057,1105703,31057,CLT,"Charlotte, NC",...,2139.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449997,2017-01-31,AA,19805,N582AA,1748,14100,1410002,34100,PHL,"Philadelphia, PA",...,1549.0,-2.8,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449998,2017-01-31,AA,19805,N709AA,1750,10693,1069302,30693,BNA,"Nashville, TN",...,1656.0,0.7,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449999,2017-01-31,AA,19805,N709AA,1750,11057,1105703,31057,CLT,"Charlotte, NC",...,1857.0,-1.3,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450000,2017-01-31,AA,19805,N109AA,1751,14100,1410002,34100,PHL,"Philadelphia, PA",...,1423.0,2.2,0.0,NaN,14.0,0.0,8.0,0.0,0.0,NaN
450001,2017-01-31,AA,19805,N701AA,1752,10397,1039705,30397,ATL,"Atlanta, GA",...,1015.0,0.6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450002,2017-01-31,AA,19805,N701AA,1752,11057,1105703,31057,CLT,"Charlotte, NC",...,1158.0,-1.6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450003,2017-01-31,AA,19805,N754AA,1754,14107,1410702,30466,PHX,"Phoenix, AZ",...,1256.0,-0.2,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450004,2017-01-31,AA,19805,N948AA,1755,14100,1410002,34100,PHL,"Philadelphia, PA",...,1933.0,-0.8,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450005,2017-01-31,AA,19805,N601AA,1756,11057,1105703,31057,CLT,"Charlotte, NC",...,1158.0,-0.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450006,2017-01-31,AA,19805,N601AA,1756,13487,1348702,31650,MSP,"Minneapolis, MN",...,841.0,-1.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450007,2017-01-31,AA,19805,N721AA,1757,11057,1105703,31057,CLT,"Charlotte, NC",...,1748.0,8.0,0.0,NaN,0.0,0.0,75.0,0.0,5.0,NaN
450008,2017-01-31,AA,19805,N183AA,1760,11057,1105703,31057,CLT,"Charlotte, NC",...,1604.0,-1.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450009,2017-01-31,AA,19805,N183AA,1760,11292,1129202,30325,DEN,"Denver, CO",...,1247.0,-3.6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450010,2017-01-31,AA,19805,N765AA,1761,11278,1127803,30852,DCA,"Washington, DC",...,2012.0,-2.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450011,2017-01-31,AA,19805,N722AA,1762,10994,1099402,30994,CHS,"Charleston, SC",...,841.0,-1.4,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450012,2017-01-31,AA,19805,N722AA,1762,11057,1105703,31057,CLT,"Charlotte, NC",...,1026.0,-1.3,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450013,2017-01-31,AA,19805,N554AA,1763,11298,1129804,30194,DFW,"Dallas/Fort Worth, TX",...,748.0,-2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450014,2017-01-31,AA,19805,N554AA,1763,14679,1467903,33570,SAN,"San Diego, CA",...,1349.0,-0.7,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450015,2017-01-31,AA,19805,N747AA,1764,11697,1169704,32467,FLL,"Fort Lauderdale, FL",...,1034.0,-1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450016,2017-01-31,AA,19805,N914AA,1766,11278,1127803,30852,DCA,"Washington, DC",...,858.0,-2.4,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
af = anime.loc[anime['arr_time']] > 1000

In [60]:
af.head()

,fl_date,unique_carrier,airline_id,tail_num,fl_num,origin_airport_id,origin_airport_seq_id,origin_city_market_id,origin,origin_city_name,...,arr_time,arr_delay,cancelled,cancellation_code,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,unnamed: 32
932.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1717.0,True,True,True,True,False,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1253.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
818.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1305.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False

In [ ]:
# бинго блять.

In [62]:
ad = af.copy(deep=True)
ad.head()

,fl_date,unique_carrier,airline_id,tail_num,fl_num,origin_airport_id,origin_airport_seq_id,origin_city_market_id,origin,origin_city_name,...,arr_time,arr_delay,cancelled,cancellation_code,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,unnamed: 32
932.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1717.0,True,True,True,True,False,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1253.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
818.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1305.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False

In [63]:
pd.melt(ad, id_vars=['arr_time'], value_vars=['True', 'False'])

        arr_time variable  value
0           True     True    NaN
1           True     True    NaN
2           True     True    NaN
3           True     True    NaN
4           True     True    NaN
5           True     True    NaN
6           True     True    NaN
7          False     True    NaN
8           True     True    NaN
9           True     True    NaN
10          True     True    NaN
11          True     True    NaN
12         False     True    NaN
13          True     True    NaN
14          True     True    NaN
15          True     True    NaN
16         False     True    NaN
17         False     True    NaN
18         False     True    NaN
19          True     True    NaN
20          True     True    NaN
21          True     True    NaN
22          True     True    NaN
23          True     True    NaN
24          True     True    NaN
25          True     True    NaN
26          True     True    NaN
27          True     True    NaN
28          True     True    NaN
29          True     True    NaN
...          ...      ...    ...
900004      True    False    NaN
900005     False    False    NaN
900006      True    False    NaN
900007      True    False    NaN
900008      True    False    NaN
900009      True    False    NaN
900010      True    False    NaN
900011      True    False    NaN
900012     False    False    NaN
900013      True    False    NaN
900014      True    False    NaN
900015      True    False    NaN
900016      True    False    NaN
900017      True    False    NaN
900018      True    False    NaN
900019     False    False    NaN
900020      True    False    NaN
900021      True    False    NaN
900022     False    False    NaN
900023      True    False    NaN
900024      True    False    NaN
900025      True    False    NaN
900026      True    False    NaN
900027     False    False    NaN
900028      True    False    NaN
900029      True    False    NaN
900030      True    False    NaN
900031      True    False    NaN
900032      True    False    NaN
900033      True    False    NaN

[900034 rows x 3 columns]

In [64]:
ad.head()

,fl_date,unique_carrier,airline_id,tail_num,fl_num,origin_airport_id,origin_airport_seq_id,origin_city_market_id,origin,origin_city_name,...,arr_time,arr_delay,cancelled,cancellation_code,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,unnamed: 32
932.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1717.0,True,True,True,True,False,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1253.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
818.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1305.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False

In [66]:
pd.melt(ad, id_vars=['arr_time'], value_vars=['late_aircraft_delay', 'late_aircraft_delay'])

        arr_time             variable  value
0           True  late_aircraft_delay  False
1           True  late_aircraft_delay  False
2           True  late_aircraft_delay  False
3           True  late_aircraft_delay  False
4           True  late_aircraft_delay  False
5           True  late_aircraft_delay  False
6           True  late_aircraft_delay  False
7          False  late_aircraft_delay  False
8           True  late_aircraft_delay  False
9           True  late_aircraft_delay  False
10          True  late_aircraft_delay  False
11          True  late_aircraft_delay  False
12         False  late_aircraft_delay  False
13          True  late_aircraft_delay  False
14          True  late_aircraft_delay  False
15          True  late_aircraft_delay  False
16         False  late_aircraft_delay  False
17         False  late_aircraft_delay  False
18         False  late_aircraft_delay  False
19          True  late_aircraft_delay  False
20          True  late_aircraft_delay  False
21          True  late_aircraft_delay  False
22          True  late_aircraft_delay  False
23          True  late_aircraft_delay  False
24          True  late_aircraft_delay  False
25          True  late_aircraft_delay  False
26          True  late_aircraft_delay  False
27          True  late_aircraft_delay  False
28          True  late_aircraft_delay  False
29          True  late_aircraft_delay  False
...          ...                  ...    ...
900004      True  late_aircraft_delay  False
900005     False  late_aircraft_delay  False
900006      True  late_aircraft_delay  False
900007      True  late_aircraft_delay  False
900008      True  late_aircraft_delay  False
900009      True  late_aircraft_delay  False
900010      True  late_aircraft_delay  False
900011      True  late_aircraft_delay  False
900012     False  late_aircraft_delay  False
900013      True  late_aircraft_delay  False
900014      True  late_aircraft_delay  False
900015      True  late_aircraft_delay  False
900016      True  late_aircraft_delay  False
900017      True  late_aircraft_delay  False
900018      True  late_aircraft_delay  False
900019     False  late_aircraft_delay  False
900020      True  late_aircraft_delay  False
900021      True  late_aircraft_delay  False
900022     False  late_aircraft_delay  False
900023      True  late_aircraft_delay  False
900024      True  late_aircraft_delay  False
900025      True  late_aircraft_delay  False
900026      True  late_aircraft_delay  False
900027     False  late_aircraft_delay  False
900028      True  late_aircraft_delay  False
900029      True  late_aircraft_delay  False
900030      True  late_aircraft_delay  False
900031      True  late_aircraft_delay  False
900032      True  late_aircraft_delay  False
900033      True  late_aircraft_delay  False

[900034 rows x 3 columns]

In [67]:
ad.head()

,fl_date,unique_carrier,airline_id,tail_num,fl_num,origin_airport_id,origin_airport_seq_id,origin_city_market_id,origin,origin_city_name,...,arr_time,arr_delay,cancelled,cancellation_code,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,unnamed: 32
932.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1717.0,True,True,True,True,False,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1253.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
818.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1305.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False

In [70]:
zone = pd.melt(ad, id_vars=['arr_time'], value_vars=['late_aircraft_delay', 'late_aircraft_delay'])

In [72]:
zone.head()

   arr_time             variable  value
0      True  late_aircraft_delay  False
1      True  late_aircraft_delay  False
2      True  late_aircraft_delay  False
3      True  late_aircraft_delay  False
4      True  late_aircraft_delay  False

In [73]:
type(zone)

pandas.core.frame.DataFrame

In [77]:
zone.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900034 entries, 0 to 900033
Data columns (total 3 columns):
arr_time    900034 non-null bool
variable    900034 non-null object
value       900034 non-null bool
dtypes: bool(2), object(1)
memory usage: 8.6+ MB

In [78]:
ad.head()

,fl_date,unique_carrier,airline_id,tail_num,fl_num,origin_airport_id,origin_airport_seq_id,origin_city_market_id,origin,origin_city_name,...,arr_time,arr_delay,cancelled,cancellation_code,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,unnamed: 32
932.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1717.0,True,True,True,True,False,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1253.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
818.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
1305.0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False

In [83]:
zone.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900034 entries, 0 to 900033
Data columns (total 3 columns):
arr_time    900034 non-null bool
variable    900034 non-null object
value       900034 non-null bool
dtypes: bool(2), object(1)
memory usage: 8.6+ MB

In [84]:
zone.head()

   arr_time             variable  value
0      True  late_aircraft_delay  False
1      True  late_aircraft_delay  False
2      True  late_aircraft_delay  False
3      True  late_aircraft_delay  False
4      True  late_aircraft_delay  False

In [85]:
time = zone.copy(deep=True)

In [86]:
time

        arr_time             variable  value
0           True  late_aircraft_delay  False
1           True  late_aircraft_delay  False
2           True  late_aircraft_delay  False
3           True  late_aircraft_delay  False
4           True  late_aircraft_delay  False
5           True  late_aircraft_delay  False
6           True  late_aircraft_delay  False
7          False  late_aircraft_delay  False
8           True  late_aircraft_delay  False
9           True  late_aircraft_delay  False
10          True  late_aircraft_delay  False
11          True  late_aircraft_delay  False
12         False  late_aircraft_delay  False
13          True  late_aircraft_delay  False
14          True  late_aircraft_delay  False
15          True  late_aircraft_delay  False
16         False  late_aircraft_delay  False
17         False  late_aircraft_delay  False
18         False  late_aircraft_delay  False
19          True  late_aircraft_delay  False
20          True  late_aircraft_delay  False
21          True  late_aircraft_delay  False
22          True  late_aircraft_delay  False
23          True  late_aircraft_delay  False
24          True  late_aircraft_delay  False
25          True  late_aircraft_delay  False
26          True  late_aircraft_delay  False
27          True  late_aircraft_delay  False
28          True  late_aircraft_delay  False
29          True  late_aircraft_delay  False
...          ...                  ...    ...
900004      True  late_aircraft_delay  False
900005     False  late_aircraft_delay  False
900006      True  late_aircraft_delay  False
900007      True  late_aircraft_delay  False
900008      True  late_aircraft_delay  False
900009      True  late_aircraft_delay  False
900010      True  late_aircraft_delay  False
900011      True  late_aircraft_delay  False
900012     False  late_aircraft_delay  False
900013      True  late_aircraft_delay  False
900014      True  late_aircraft_delay  False
900015      True  late_aircraft_delay  False
900016      True  late_aircraft_delay  False
900017      True  late_aircraft_delay  False
900018      True  late_aircraft_delay  False
900019     False  late_aircraft_delay  False
900020      True  late_aircraft_delay  False
900021      True  late_aircraft_delay  False
900022     False  late_aircraft_delay  False
900023      True  late_aircraft_delay  False
900024      True  late_aircraft_delay  False
900025      True  late_aircraft_delay  False
900026      True  late_aircraft_delay  False
900027     False  late_aircraft_delay  False
900028      True  late_aircraft_delay  False
900029      True  late_aircraft_delay  False
900030      True  late_aircraft_delay  False
900031      True  late_aircraft_delay  False
900032      True  late_aircraft_delay  False
900033      True  late_aircraft_delay  False

[900034 rows x 3 columns]

In [87]:
time.drop(['variable'], axis='columns')

        arr_time  value
0           True  False
1           True  False
2           True  False
3           True  False
4           True  False
5           True  False
6           True  False
7          False  False
8           True  False
9           True  False
10          True  False
11          True  False
12         False  False
13          True  False
14          True  False
15          True  False
16         False  False
17         False  False
18         False  False
19          True  False
20          True  False
21          True  False
22          True  False
23          True  False
24          True  False
25          True  False
26          True  False
27          True  False
28          True  False
29          True  False
...          ...    ...
900004      True  False
900005     False  False
900006      True  False
900007      True  False
900008      True  False
900009      True  False
900010      True  False
900011      True  False
900012     False  False
900013      True  False
900014      True  False
900015      True  False
900016      True  False
900017      True  False
900018      True  False
900019     False  False
900020      True  False
900021      True  False
900022     False  False
900023      True  False
900024      True  False
900025      True  False
900026      True  False
900027     False  False
900028      True  False
900029      True  False
900030      True  False
900031      True  False
900032      True  False
900033      True  False

[900034 rows x 2 columns]

In [88]:
time.drop(['value', 'variable' ], axis='columns')

        arr_time             variable
0           True  late_aircraft_delay
1           True  late_aircraft_delay
2           True  late_aircraft_delay
3           True  late_aircraft_delay
4           True  late_aircraft_delay
5           True  late_aircraft_delay
6           True  late_aircraft_delay
7          False  late_aircraft_delay
8           True  late_aircraft_delay
9           True  late_aircraft_delay
10          True  late_aircraft_delay
11          True  late_aircraft_delay
12         False  late_aircraft_delay
13          True  late_aircraft_delay
14          True  late_aircraft_delay
15          True  late_aircraft_delay
16         False  late_aircraft_delay
17         False  late_aircraft_delay
18         False  late_aircraft_delay
19          True  late_aircraft_delay
20          True  late_aircraft_delay
21          True  late_aircraft_delay
22          True  late_aircraft_delay
23          True  late_aircraft_delay
24          True  late_aircraft_delay
25          True  late_aircraft_delay
26          True  late_aircraft_delay
27          True  late_aircraft_delay
28          True  late_aircraft_delay
29          True  late_aircraft_delay
...          ...                  ...
900004      True  late_aircraft_delay
900005     False  late_aircraft_delay
900006      True  late_aircraft_delay
900007      True  late_aircraft_delay
900008      True  late_aircraft_delay
900009      True  late_aircraft_delay
900010      True  late_aircraft_delay
900011      True  late_aircraft_delay
900012     False  late_aircraft_delay
900013      True  late_aircraft_delay
900014      True  late_aircraft_delay
900015      True  late_aircraft_delay
900016      True  late_aircraft_delay
900017      True  late_aircraft_delay
900018      True  late_aircraft_delay
900019     False  late_aircraft_delay
900020      True  late_aircraft_delay
900021      True  late_aircraft_delay
900022     False  late_aircraft_delay
900023      True  late_aircraft_delay
900024      True  late_aircraft_delay
900025      True  late_aircraft_delay
900026      True  late_aircraft_delay
900027     False  late_aircraft_delay
900028      True  late_aircraft_delay
900029      True  late_aircraft_delay
900030      True  late_aircraft_delay
900031      True  late_aircraft_delay
900032      True  late_aircraft_delay
900033      True  late_aircraft_delay

[900034 rows x 2 columns]

In [89]:
time.head()

   arr_time             variable  value
0      True  late_aircraft_delay  False
1      True  late_aircraft_delay  False
2      True  late_aircraft_delay  False
3      True  late_aircraft_delay  False
4      True  late_aircraft_delay  False

In [90]:
time.drop(['value', 'variable' ], axis='columns')

        arr_time
0           True
1           True
2           True
3           True
4           True
5           True
6           True
7          False
8           True
9           True
10          True
11          True
12         False
13          True
14          True
15          True
16         False
17         False
18         False
19          True
20          True
21          True
22          True
23          True
24          True
25          True
26          True
27          True
28          True
29          True
...          ...
900004      True
900005     False
900006      True
900007      True
900008      True
900009      True
900010      True
900011      True
900012     False
900013      True
900014      True
900015      True
900016      True
900017      True
900018      True
900019     False
900020      True
900021      True
900022     False
900023      True
900024      True
900025      True
900026      True
900027     False
900028      True
900029      True
900030      True
900031      True
900032      True
900033      True

[900034 rows x 1 columns]

In [91]:
the_time = time.drop(['value', 'variable' ], axis='columns')

In [92]:
the_time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900034 entries, 0 to 900033
Data columns (total 1 columns):
arr_time    900034 non-null bool
dtypes: bool(1)
memory usage: 879.0 KB

In [93]:
the_time.head()

   arr_time
0      True
1      True
2      True
3      True
4      True

In [94]:
anime.head()

,fl_date,unique_carrier,airline_id,tail_num,fl_num,origin_airport_id,origin_airport_seq_id,origin_city_market_id,origin,origin_city_name,...,arr_time,arr_delay,cancelled,cancellation_code,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,unnamed: 32
0,2017-01-01,AA,19805,N153AA,1766,13930,1393004,30977,ORD,"Chicago, IL",...,932.0,-1.6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017-01-01,AA,19805,N192AA,1767,12889,1288903,32211,LAS,"Las Vegas, NV",...,1717.0,-0.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017-01-01,AA,19805,N829AA,1768,11278,1127803,30852,DCA,"Washington, DC",...,1253.0,-2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017-01-01,AA,19805,N770AA,1769,15304,1530402,33195,TPA,"Tampa, FL",...,818.0,-1.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017-01-01,AA,19805,N754AA,1770,14100,1410002,34100,PHL,"Philadelphia, PA",...,1305.0,-0.7,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [95]:
anime['arr_time'] = the_time["arr_time"]
anime.head()

,fl_date,unique_carrier,airline_id,tail_num,fl_num,origin_airport_id,origin_airport_seq_id,origin_city_market_id,origin,origin_city_name,...,arr_time,arr_delay,cancelled,cancellation_code,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,unnamed: 32
0,2017-01-01,AA,19805,N153AA,1766,13930,1393004,30977,ORD,"Chicago, IL",...,True,-1.6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017-01-01,AA,19805,N192AA,1767,12889,1288903,32211,LAS,"Las Vegas, NV",...,True,-0.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017-01-01,AA,19805,N829AA,1768,11278,1127803,30852,DCA,"Washington, DC",...,True,-2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017-01-01,AA,19805,N770AA,1769,15304,1530402,33195,TPA,"Tampa, FL",...,True,-1.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017-01-01,AA,19805,N754AA,1770,14100,1410002,34100,PHL,"Philadelphia, PA",...,True,-0.7,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [96]:
anime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450017 entries, 0 to 450016
Data columns (total 33 columns):
fl_date                  450017 non-null datetime64[ns]
unique_carrier           450017 non-null object
airline_id               450017 non-null int64
tail_num                 449378 non-null object
fl_num                   450017 non-null int64
origin_airport_id        450017 non-null int64
origin_airport_seq_id    450017 non-null int64
origin_city_market_id    450017 non-null int64
origin                   450017 non-null object
origin_city_name         450017 non-null object
dest_airport_id          450017 non-null int64
dest_airport_seq_id      450017 non-null int64
dest_city_market_id      450017 non-null int64
dest                     450017 non-null object
dest_city_name           450017 non-null object
crs_dep_time             450017 non-null int64
dep_time                 441476 non-null float64
dep_delay                441476 non-null float64
taxi_out                 441244 non-null float64
wheels_off               441244 non-null float64
wheels_on                440746 non-null float64
taxi_in                  440746 non-null float64
crs_arr_time             450017 non-null int64
arr_time                 450017 non-null bool
arr_delay                439645 non-null float64
cancelled                450017 non-null float64
cancellation_code        8886 non-null object
carrier_delay            97699 non-null float64
weather_delay            97699 non-null float64
nas_delay                97699 non-null float64
security_delay           97699 non-null float64
late_aircraft_delay      97699 non-null float64
unnamed: 32              0 non-null float64
dtypes: bool(1), datetime64[ns](1), float64(14), int64(10), object(7)
memory usage: 110.3+ MB

In [97]:
anime.to_csv('animebool.csv')

In [98]:
df = pd.read_csv("C:/Users/Battlestation/animebool.csv")

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450017 entries, 0 to 450016
Data columns (total 34 columns):
Unnamed: 0               450017 non-null int64
fl_date                  450017 non-null object
unique_carrier           450017 non-null object
airline_id               450017 non-null int64
tail_num                 449378 non-null object
fl_num                   450017 non-null int64
origin_airport_id        450017 non-null int64
origin_airport_seq_id    450017 non-null int64
origin_city_market_id    450017 non-null int64
origin                   450017 non-null object
origin_city_name         450017 non-null object
dest_airport_id          450017 non-null int64
dest_airport_seq_id      450017 non-null int64
dest_city_market_id      450017 non-null int64
dest                     450017 non-null object
dest_city_name           450017 non-null object
crs_dep_time             450017 non-null int64
dep_time                 441476 non-null float64
dep_delay                441476 non-null float64
taxi_out                 441244 non-null float64
wheels_off               441244 non-null float64
wheels_on                440746 non-null float64
taxi_in                  440746 non-null float64
crs_arr_time             450017 non-null int64
arr_time                 450017 non-null bool
arr_delay                439645 non-null float64
cancelled                450017 non-null float64
cancellation_code        8886 non-null object
carrier_delay            97699 non-null float64
weather_delay            97699 non-null float64
nas_delay                97699 non-null float64
security_delay           97699 non-null float64
late_aircraft_delay      97699 non-null float64
unnamed: 32              0 non-null float64
dtypes: bool(1), float64(14), int64(11), object(8)
memory usage: 113.7+ MB