In [1]:
import pandas as pd
df = pd.DataFrame({
                    'country': ['Kazakhstan', 'Russia', 'Belarus', 'Ukraine'],
                    'population': [17.04, 143.5, 9.5, 45.5],
                    'square': [2724902, 17125191, 207600, 603628]
                    }, index=['KZ', 'RU', 'BY', 'UA'])

In [2]:
df

       country  population    square
KZ  Kazakhstan       17.04   2724902
RU      Russia      143.50  17125191
BY     Belarus        9.50    207600
UA     Ukraine       45.50    603628

In [3]:
df["density"] = df["population"] / df["square"] * 1000000
df

       country  population    square    density
KZ  Kazakhstan       17.04   2724902   6.253436
RU      Russia      143.50  17125191   8.379469
BY     Belarus        9.50    207600  45.761079
UA     Ukraine       45.50    603628  75.377550

In [4]:
df.drop(["density"], axis="columns")
df.index.name = 'Country Code'

In [5]:
df

                 country  population    square    density
Country Code
KZ            Kazakhstan       17.04   2724902   6.253436
RU                Russia      143.50  17125191   8.379469
BY               Belarus        9.50    207600  45.761079
UA               Ukraine       45.50    603628  75.377550

In [18]:
df = df.reset_index()

In [19]:
df = df.rename(columns={'Country Code': 'country_code'})

In [20]:
df

  country_code     country  population    square    density
0           KZ  Kazakhstan       17.04   2724902   6.253436
1           RU      Russia      143.50  17125191   8.379469
2           BY     Belarus        9.50    207600  45.761079
3           UA     Ukraine       45.50    603628  75.377550